<% include partials/regularEmptyHead.ejs %>
<% include partials/clientTopNavBar.ejs %>
<% include partials/clientBottomNavBar.ejs %>

<body>
  <a href="/"><img src="assets/logos/dwFullLogoBlack.svg" id="logoImgLogin" alt=""></a>
  <p id="formTitle"><%= __('Reset your password') %></p>
  <p id="instructionsP"><%= __('Fill in the email associated with your account and we\'ll send you a password reset link.') %></p>
  <input class="textInput" type="text" id="emailInput" name="" placeholder="<%= __('Account email') %>" value="">
  <p id="messageP"></p>
  <button type="button" id="inputSubmit" name="button"><%= __('Continue') %></button>


  <p class="optionsP"><%= __('Want to log in?') %> <a class="optionsLink" href="/login"><%= __('Log in now') %></a></p>
  <p class="optionsP"><%= __('Want to create an account?') %> <a class="optionsLink" href="/login"><%= __('Sign up now') %></a></p>


  <div id="footerContainer">
    <% if(locals.languageCookie){ %>
      <% if(languageCookie == "fr"){ %>
        <select id='langSelect'><option value='fr' selected>Francais</option><option value='en'>English</option></select>
      <% }else{ %>
        <select id='langSelect'><option value='fr'>Francais</option><option value='en' selected>English</option></select>
      <% } %>
    <% }else{ %>
      <select id='langSelect'><option value='fr'>Francais</option><option value='en' selected>English</option></select>
    <% } %>


    <p id="footerText">© <script>document.write(new Date().getFullYear());</script> Dailyworks, Inc. <%= __('All rights reserved.') %></p>
  </div>
</body>



<style media="screen">
  #logoImgLogin{
    position:relative;
    margin:50px 0 75px 20px;
    width:50%;
    left:0;
  }
  #formTitle{
    margin:0 0 30px 0;
    width:100%;
    padding:0 20px 0 20px;
    font-size:var(--mobile-font-size-page-title);
    position:relative;
    font-weight:var(--mobile-font-weight-bold);
    text-align:left;
    }
    #instructionsP{
      margin:0 0 30px 0;
      width:100%;
      padding:0 20px 0 20px;
      font-size:var(--mobile-font-size-page-regular);
      position:relative;
      font-weight:var(--mobile-font-weight-medium);
      text-align:left;
      }
    .textInput{
      background-color:#fff;
      padding:0 10px 0 10px;
      width:calc(100% - 40px);
      position:relative;
      margin:0 20px 20px 20px;
      font-size:var(--mobile-font-size-regular);
      border:1px solid #a1a1a1;
      border-radius:4px;
      height:50px;
    }
    #inputSubmit{
      width:calc(100% - 40px);
      position:relative;
      margin:0 20px 30px 20px;
      border-radius:4px;
      border:none;
      height:52px;
      background:var(--gradient-cta-background);
      color:#fff;
      font-weight:var(--mobile-font-weight-bold);
      font-size:var(--mobile-font-size-regular);
      cursor:pointer;
    }
    #messageP{
      margin:0 0 20px 0;
      width:100%;
      padding:0 20px 0 20px;
      font-size:var(--mobile-font-size-regular);
      position:relative;
      font-weight:var(--mobile-font-weight-regular);
      text-align:left;
      color:var(--font-color-red);
    }
    .optionsP{
      margin:0 0 20px 0;
      width:100%;
      padding:0 20px 0 20px;
      font-size:var(--mobile-font-size-regular);
      position:relative;
      font-weight:var(--mobile-font-weight-regular);
      text-align:left;
      color:#000;
    }
    .optionsLink{
      width:100%;
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-weight-bold);
      text-decoration:underline;
      color:#000;;
    }
    #footerText{
      margin:0;
      top:0;
      left:0;
      padding:0 20px 0 20px;
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-weight-regular);
      color:#a1a1a1;
      text-align:center;
    }
    #langSelect{
      text-align:left;
      left:50%;
      transform:translateX(-50%);
      margin:90px 0 30px 0;
      display:block;
      position:relative;
      border-radius:4px;
      padding:10px;
      background-color:#fff;
    }
    #footerContainer{
      width:100%;
      left:0;
      min-height:20px;
      top:0;
      position:relative;
      margin:0 0 70px 0;
      border:none;
      padding:20px 0 0 0;
      font-size:0;
      min-height:50px;
    }
</style>


<script>


    document.getElementById("inputSubmit").onclick = function(){
      submitSignupForm();
    };


    function submitSignupForm(){
      document.getElementById('messageP').innerText = "";

      var email = document.getElementById('emailInput');

      if(email.value != ""){
        //all fields are full

        $.ajax({
              url: '/clientResetPassword',
              type: 'post',
              data: {email:email.value},
              success: function( data, textStatus){
                if(data == "ok"){
                  document.getElementById('messageP').innerText = "Email successfuly sent!";
                  email.value = "";
                }else if(data=="error"){
                  document.getElementById("messageP").innerText = "Looks like there is a server error, please try again";
                }else if(data == 'noExist'){
                  document.getElementById("messageP").innerText = "Looks like this email is not associated with any account";
                }
              },
              error: function( textStatus, errorThrown ){
                  document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";

              }
          });
      }else{
          document.getElementById('messageP').innerText = "Please write your email";
      }
    }





  document.getElementById('langSelect').onchange = function(){
    console.log('lang changed');
    $.ajax({
          url: '/setlangCookie',
          type: 'post',
          data: {lang:this.value},
          success: function( data, textStatus){
            if(data=="ok"){
              location.reload();
            }else if(data=="error"){
              alert("error");
            }else{
              alert("error");
            }
          },
          error: function( textStatus, errorThrown ){
              console.log( errorThrown );
          }
      });
  }
</script>
