<% include partials/regularEmptyHead.ejs %>
<% include partials/clientTopNavBar.ejs %>
<% include partials/clientBottomNavBar.ejs %>
<body>

    <a href="/"><img src="assets/logos/dwFullLogoBlack.svg" id="logoImgLogin" alt=""></a>
    <p id="formTitle"><%= __('Sign up') %></p>
    <input type="text" class="textInput" id="nameInput" name="" placeholder="<%= __('Name') %>" value="">
    <input type="email" class="textInput" id="emailInput" name="" placeholder="<%= __('your@email.com') %>" value="">
    <input type="password" class="textInput" id="passwordInput" name="" placeholder="<%= __('Password') %>" value="">
    <p id="messageP"></p>
    <input type="submit" id="inputSubmit" name="" value="<%= __('Continue') %>">
    <!-- <p class="optionsP">Forgot your password? <a class="optionsLink" href="#">Recover your password</a></p> -->
    <p class="optionsP"><%= __('Already have an account?') %> <a class="optionsLink" href="/login"><%= __('Log in now') %></a></p>

    <!-- <a href="/googleAuth"><img id="signupGoogleButton" src="assets/socialIcons/googleIconLogin.png"></a>
    <a href="/facebookAuth"><img id="signupFacebookButton" src="assets/socialIcons/fbIcon.jpg"></a> -->

    <div id="footerContainer">
      <% if(locals.languageCookie){ %>
        <% if(languageCookie == "fr"){ %>
          <select id='langSelect'><option value='fr' selected>Francais</option><option value='en'>English</option></select>
        <% }else{ %>
          <select id='langSelect'><option value='fr'>Francais</option><option value='en' selected>English</option></select>
        <% } %>
      <% }else{ %>
        <select id='langSelect'><option value='fr'>Francais</option><option value='en' selected>English</option></select>
      <% } %>


      <p id="footerText">© <script>document.write(new Date().getFullYear());</script> Dailyworks, Inc. <%= __('All rights reserved.') %></p>
    </div>
</body>



<style media="screen">
  body{
    background-color:#fff;
  }
    @media screen and (min-width:780px){
      #logoImgLogin{
        position:relative;
        margin:0 0 30px 60px;
        width:30%;
        left:0;
      }
      #mainFormContainer{
        width:80%;
        position:relative;
        max-width:550px;
        left:50%;
        margin:0;
        transform:translateX(-50%);
        height:auto;
        top:100px;
        background-color:#fff;
        border:none;
        box-shadow:var(--box-shadow-card);
        border-radius:var(--official-border-radius);
        padding:40px 0 40px 0;
      }
      #formTitle{
        margin:0 0 30px 0;
        width:100%;
        padding:0 60px 0 60px;
        font-size:var(--desktop-font-size-page-title);
        position:relative;
        font-weight:var(--mobile-font-weight-bold);
        text-align:left;

        }
        .textInput{
          background-color:#fff;
          padding:0 20px 0 20px;
          width:calc(100% - 120px);
          position:relative;
          margin:0 60px 15px 60px;
          font-size:var(--desktop-font-size-regular);
          border:1px solid #000;
          border-radius:var(--official-border-radius);
          height:50px;
        }
        #inputSubmit{
          width:calc(100% - 120px);
          position:relative;
          margin:0 60px 30px 60px;
          border-radius:var(--official-border-radius);
          border:none;
          height:50px;
          background-color:var(--icon-color-active);
          color:#fff;
          font-weight:var(--mobile-font-weight-bold);
          font-size:var(--desktop-font-size-regular);
          cursor:pointer;
        }
        #messageP{
          margin:0 0 20px 0;
          width:100%;
          padding:0 60px 0 60px;
          font-size:var(--desktop-font-size-regular);
          position:relative;
          font-weight:var(--mobile-font-weight-regular);
          text-align:left;
          color:var(--font-color-red);
        }
        .optionsP{
          margin:0 0 20px 0;
          width:100%;
          padding:0 60px 0 60px;
          font-size:var(--desktop-font-size-regular);
          position:relative;
          font-weight:var(--mobile-font-weight-regular);
          text-align:left;
          color:#000;
        }
        .optionsLink{
          width:100%;
          font-size:var(--desktop-font-size-regular);
          font-weight:var(--mobile-font-weight-regular);
          color:var(--icon-color-active);
          text-decoration:none;
        }
        #signupGoogleButton{
          position:relative;
          margin:0 0 0 60px;
        height:40px;
    display:block;
        }

        #signupFacebookButton{
          position:relative;
          margin:0 0 0 60px;
        height:40px;
        display:block;
        }
    }

    @media screen and (max-width:780px){
      #logoImgLogin{
        position:relative;
        margin:50px 0 75px 20px;
        width:50%;
        left:0;
      }
      #formTitle{
        margin:0 0 30px 0;
        width:100%;
        padding:0 20px 0 20px;
        font-size:var(--mobile-font-size-page-title);
        position:relative;
        font-weight:var(--mobile-font-weight-bold);
        text-align:left;
        }
        .textInput{
          background-color:#fff;
          padding:0 10px 0 10px;
          width:calc(100% - 40px);
          position:relative;
          margin:0 20px 20px 20px;
          font-size:var(--mobile-font-size-regular);
          border:1px solid #a1a1a1;
          border-radius:4px;
          height:50px;
        }
        #inputSubmit{
          width:calc(100% - 40px);
          position:relative;
          margin:0 20px 30px 20px;
          border-radius:4px;
          border:none;
          height:52px;
          background:var(--gradient-cta-background);
          color:#fff;
          font-weight:var(--mobile-font-weight-bold);
          font-size:var(--mobile-font-size-regular);
          cursor:pointer;
        }
        #messageP{
          margin:0 0 20px 0;
          width:100%;
          padding:0 20px 0 20px;
          font-size:var(--mobile-font-size-regular);
          position:relative;
          font-weight:var(--mobile-font-weight-regular);
          text-align:left;
          color:var(--font-color-red);
        }
        .optionsP{
          margin:0 0 20px 0;
          width:100%;
          padding:0 20px 0 20px;
          font-size:var(--mobile-font-size-regular);
          position:relative;
          font-weight:var(--mobile-font-weight-regular);
          text-align:left;
          color:#000;
        }
        .optionsLink{
          width:100%;
          font-size:var(--mobile-font-size-regular);
          font-weight:var(--mobile-font-weight-bold);
          text-decoration:underline;
          color:#000;;
        }
        #loginGoogleButton{
          position:relative;
          margin:0 0 0 20px;
        height:40px;
    display:block;
        }

        #loginFacebookButton{
          position:relative;
          margin:0 0 0 20px;
        height:40px;
        display:block;
        }
    }

    #footerText{
      margin:0;
      top:0;
      left:0;
      padding:0 20px 0 20px;
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-weight-regular);
      color:#a1a1a1;
      text-align:center;
    }
    #langSelect{
      text-align:left;
      left:50%;
      transform:translateX(-50%);
      margin:90px 0 30px 0;
      display:block;
      position:relative;
      border-radius:4px;
      padding:10px;
      background-color:#fff;
    }
    #footerContainer{
      width:100%;
      left:0;
      min-height:20px;
      top:0;
      position:relative;
      margin:0 0 70px 0;
      border:none;
      padding:20px 0 0 0;
      font-size:0;
      min-height:50px;
    }
</style>



<script>
  $("#emailInput").on('keyup', function (e) {
    if (e.keyCode === 13) {
        submitSignupForm();
    }
  });

  $("#passwordInput").on('keyup', function (e) {
    if (e.keyCode === 13) {
        submitSignupForm();
    }
  });

  $("#nameInput").on('keyup', function (e) {
    if (e.keyCode === 13) {
        submitSignupForm();
    }
  });

  document.getElementById("inputSubmit").onclick = function(){
    submitSignupForm();
  };


  function submitSignupForm(){
    document.getElementById('messageP').innerText = "";

    var name = $("#nameInput").val();
    var email = $("#emailInput").val();
    var password = $("#passwordInput").val();



    if(email != "" && password != "" && name != ""){
      //all fields are full
      if(name.length >=5 && email.length>6 && password.length>=6){
        //fields have good length

      $.ajax({
            url: '/postLocalClientSignup',
            type: 'post',
            data: {email:email, password:password, name:name},
            success: function( data, textStatus){
              if(data == "ok"){
                location.href = "/login";
              }else if(data=="alreadyExist"){
                document.getElementById("messageP").innerText = "Looks like this email is already registered";
              }else if(data=="err"){
                document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";
              }else{
                document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";
              }
            },
            error: function( textStatus, errorThrown ){
              if(textStatus=="alreadyExist"){
                document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";
              }else if(textStatus=="err"){
                document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";
              }else{
                document.getElementById("messageP").innerText = "Looks like there is an error, it's not you it's us";
              }
            }
        });
      }else{
        //not all fields have good length
        if(password.length<6){
          document.getElementById("messageP").innerText = "Your password must be at least 6 characters";
        }
        if(name.length<5){
          document.getElementById("nameUnderText").innerText = "Your name must be at least 5 characters";
        }
        if(email.length<6){
          document.getElementById("nameUnderText").innerText = "Your email must be at least 6 characters";
        }

      }
    }else{
      //one or more field is empty
      if(email ==""){
        document.getElementById('messageP').innerText = "Please write your email";
      }
      if(password ==""){
        document.getElementById('messageP').innerText = "Please write your password";
      }
      if(name == ""){
        document.getElementById('messageP').innerText = "Please write your name"
      }
    }
  }

</script>
<% include partials/changeLanguageScript %>
