<% storeObj = JSON.parse(storeObj)%>
<%- include partials/regularEmptyHead.ejs %>
<%- include partials/storeBottomNavBar.ejs %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgRl2MKw024PModYPvSktDkFbsOird77o&libraries=places"></script>
<script type="text/javascript" src="/jsFiles/miscFunctions.js"></script>
<% if(!storeObj || storeObj.length == 0){ %>
sorry no store
  <% }else{ %>
    <div class="thirdLevelParentCategorySelector" id="newAbsencesParentContainer">
      <div id="newAbsencesDiv">
        <div class="popupHeader">
          <p class="modalMainTitle"><script type="text/javascript">document.write(translateWord("New absence"));</script></p>
          <img src="assets/icons/octiconsSvg/x.svg" class="popupX" id="newAbsenceCloseButton" alt="">
        </div>
        <div class="sideModalContentScrolling">
          <div id="newAbsencesDivInnerContainer">
            <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Description"));</script></label>
            <input type="text" name="" value="" id="newAbsenceReason" class="textInputSetting" placeholder="Reason">
            <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Start date"));</script></label>
            <input type="text" name="" value="" data-date="-1" data-time="-1" readonly id="newStoreAbsenceStart" class="absenceInputDateTime textInputSetting newStoreAbsenceStart" placeholder="Start date">
            <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("End date"));</script></label>
            <input type="text" name="" value="" data-date="-1" data-time="-1" readonly id="newStoreAbsenceEnd" class="absenceInputDateTime textInputSetting newStoreAbsenceEnd" placeholder="End date">
          </div>
        </div>
        <div class="saveButtonDiv">
          <button class="quasiFullWidthCtaButton" id="addAbsenceButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Add absence"));</script></button>
        </div>
      </div>
    </div>




    <div class="thirdLevelParentCategorySelector" id="newServiceParentContainer">
      <div id="newServicesDiv">
        <div class="popupHeader">
          <p class="modalMainTitle"><script type="text/javascript">document.write(translateWord("New service"));</script></p>
          <img src="assets/icons/octiconsSvg/x.svg" class="popupX" id="newServiceCloseButton" alt="">
        </div>
        <div class="sideModalContentScrolling">
          <div id="newServicesDivInnerContainer">
            <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Name"));</script></label>
            <input type="text" name="" value="" id="newServiceName" class="textInputSetting" placeholder="Service name">
            <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Price"));</script></label>
            <input type="number" min="0" step="0.01" id="newServicePrice" class="textInputSetting" placeholder="Service price">
          </div>
        </div>
        <div class="saveButtonDiv">
          <button class="quasiFullWidthCtaButton" id="addServiceButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Add service"));</script></button>
        </div>
      </div>
    </div>



<div id="settingsPageMainBody" class="">
  <div id="servicesSettingsMainContainer" class="secondLevelParentCategorySelector">
    <div class="settingsContentScrolling">
      <img class="backArrowSettings" src="assets/icons/octiconsSvg/chevron-left.svg" alt="">
      <p class="settingsPageTitleSecondLevel">Services</p>
      <div class="dataEntriesMainContainer">
        <div class="dataEntriesInnerDiv" id="currentServicesDiv">

            <% for(var y=0;y<storeObj.services.length;y++){ %>
              <div class="dataEntryInputContainer storeServicesChildContainer" data-id="<%= storeObj.services[y]._id %>">
                <img src="assets/icons/octiconsSvg/trashcan.svg" class="dataEntryRemoveButton storeServicesRemoveX" alt="">
                <p class="inputSettingLabel">Name:</p>
                <input class="textInputSetting existingServiceName" type="text" name="" placeholder="<%= storeObj.services[y].serviceName %>">
                <p class="inputSettingLabel">Price:</p>
                <input class="textInputSetting existingServicePrice" min="0" step="0.01" type="number" placeholder="<%= storeObj.services[y].price %>">
              </div>
            <% } %>

        </div>
      </div>
      <div id="newServiceButton" class="roundButtonNewAction">
        <img class="clickableIconImg newButtonWhitePlus" src="assets/icons/octiconsSvg/plus-white.svg" alt="">
      </div>
    </div>
    <div class="saveButtonDiv">
      <button class="quasiFullWidthCtaButton" id="servicesSettingsSaveButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Save"));</script></button>
    </div>
  </div>








  <div id="generalSettingsMainContainer" class="activeCategorySelector mobileNotActive secondLevelParentCategorySelector">
    <div class="settingsContentScrolling">
      <img class="backArrowSettings" src="assets/icons/octiconsSvg/chevron-left.svg" alt="">
      <p class="settingsPageTitleSecondLevel" id="">General Settings</p>
      <div class="mainInputContainer">



        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Business name"));</script></p>
        <input class="textInputSetting" id="bNameInput" type="text" name="" value="" placeholder="<%= storeObj.storeName %>">
        <p class="labelUnderInputGeneralSettings" id="bNameInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Store location"));</script></p>
        <% if(typeof storeObj.location == "undefined"){ %>
          <input class="textInputSetting" id="bLocationInput" type="text" name="" value="" placeholder="Business location">
        <% }else{ %>
          <input class="textInputSetting" id="bLocationInput" type="text" name="" value="" placeholder="<%= storeObj.location %>">
        <% } %>
        <input id="locationLat" type="hidden" name="lat">
        <input id="locationLong" type="hidden" name="long">

        <p class="labelUnderInputGeneralSettings" id="locationInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Phone number"));</script></p>
        <% if(typeof storeObj.phoneNumber == "undefined"){ %>
          <input class="textInputSetting" id="bPhoneInput" type="text" name="" value="" placeholder="ex: 5149932019">
        <% }else{ %>
          <input class="textInputSetting" id="bPhoneInput" type="text" name="" value="" placeholder="<%= storeObj.phoneNumber %>">
        <% } %>
        <p class="labelUnderInputGeneralSettings" id="phoneNumberInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Social pages"));</script></p>
        <% if(typeof storeObj.facebookLink == "undefined"){ %>
          <input class="textInputSetting" id="fbLinkInput" type="text" name="" value="" placeholder="Facebook page link">
        <% }else{ %>
          <input class="textInputSetting" id="fbLinkInput" type="text" name="" value="" placeholder="<%= storeObj.facebookLink %>">
        <% } %>
        <p class="labelUnderInputGeneralSettings" id="fbLinkInputUnderLabel"></p>

        <% if(typeof storeObj.instagramLink == "undefined"){ %>
          <input class="textInputSetting" id="instaLinkInput" type="text" name="" value="" placeholder="Instagram page link">
        <% }else{ %>
          <input class="textInputSetting" id="instaLinkInput" type="text" name="" value="" placeholder="<%= storeObj.instagramLink %>">
        <% } %>
        <p class="labelUnderInputGeneralSettings" id="instaLinkInputUnderLabel"></p>

        <% if(typeof storeObj.websiteLink == "undefined"){ %>
          <input class="textInputSetting" id="websiteLinkInput" type="text" name="" value="" placeholder="Business website page link">
        <% }else{ %>
          <input class="textInputSetting" id="websiteLinkInput" type="text" name="" value="" placeholder="<%= storeObj.websiteLink %>">
        <% } %>
        <p class="labelUnderInputGeneralSettings" id="websiteLinkInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Email address"));</script></p>
        <input class="textInputSetting" type="email" id="bEmailInput" name="" value="" placeholder="<%= storeObj.email %>">
        <p class="labelUnderInputGeneralSettings" id="emailInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Password"));</script></p>
        <input class="passwordInputSetting" id="oldPasswordInput" type="password" name="" value="" placeholder="Old password"><img class="eyeIconPassword" id="oldPasswordEyeIcon" data-relatedpasswordid="oldPasswordInput" src="assets/icons/octiconsSvg/eye.svg" alt="">
        <input class="passwordInputSetting" id="newPasswordInput" type="password" name="" value="" placeholder="New Password"><img class="eyeIconPassword" id="newPasswordEyeIcon" data-relatedpasswordid="newPasswordInput" src="assets/icons/octiconsSvg/eye.svg" alt="">
        <p class="labelUnderInputGeneralSettings" id="passwordInputUnderLabel"></p>

        <p class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Owner/manager's name"));</script></p>
        <% if(typeof storeObj.ownerName == "undefined"){ %>
          <input class="textInputSetting" id="ownerNameInput" type="text" name="" value="" placeholder="Business owner's name">
        <% }else{ %>
          <input class="textInputSetting" id="ownerNameInput" type="text" name="" value="" placeholder="<%= storeObj.ownerName %>">
        <% } %>
        <p class="labelUnderInputGeneralSettings" id="ownerNameInputUnderLabel"></p>

        <a class="inputSettingLabel" href="/logout">Want to logout?</a>

      </div>
    </div>
    <div class="saveButtonDiv">
      <button class="quasiFullWidthCtaButton" id="generalSettingsSaveButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Save"));</script></button>
    </div>
  </div>




  <div id="storeScheduleSettingsMainContainer" class="secondLevelParentCategorySelector">
    <div class="settingsContentScrolling">
      <img class="backArrowSettings" src="assets/icons/octiconsSvg/chevron-left.svg" alt="">
      <p class="settingsPageTitleSecondLevel" id=""><script type="text/javascript">document.write(translateWord("Store schedule"));</script></p>
      <table class="mainInputTableContainer">
        <tr id="storeScheduleMonday" class="storeScheduleDayLineContainer">

          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Monday"));</script> :</p>
          </td>
          <td>
          <input readonly class="storeScheduleTimeInput storeScheduleStartTime storeScheduleMondayInput" placeholder = "tbd" type="text" name="" value=""><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input  readonly class="storeScheduleMondayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleMondayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleMondayInput"><label for="storeScheduleMondayCheckbox" class="storeScheduleDayText"><script>document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer" id="storeScheduleTuesday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Tuesday"));</script> :</p>
          </td>
          <td>
          <input placeholder = "tbd" class="storeScheduleTimeInput storeScheduleStartTime storeScheduleTuesdayInput" type="text" name="" value=""  readonly><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input class="storeScheduleTuesdayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value=""  readonly>
          </td>
          <td>
          <input id="storeScheduleTuesdayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleTuesdayInput"><label for="storeScheduleTuesdayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer" id="storeScheduleWednesday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Wednesday"));</script> :</p>
          </td>
          <td>
          <input placeholder = "tbd" class="storeScheduleTimeInput storeScheduleStartTime storeScheduleWednesdayInput" type="text" name="" value=""  readonly ><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input  readonly class="storeScheduleWednesdayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleWednesdayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleWednesdayInput"><label for="storeScheduleWednesdayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer" id="storeScheduleThursday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Thursday"));</script> :</p>
          </td>
          <td>
          <input placeholder = "tbd" class="storeScheduleTimeInput storeScheduleStartTime storeScheduleThursdayInput" type="text" name="" value="" readonly ><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input  readonly class="storeScheduleThursdayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleThursdayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleThursdayInput"><label for="storeScheduleThursdayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer" id="storeScheduleFriday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Friday"));</script> :</p>
          </td>
          <td>
          <input placeholder = "tbd" class="storeScheduleTimeInput storeScheduleStartTime storeScheduleFridayInput" type="text" name="" value="" readonly ><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input readonly class="storeScheduleFridayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleFridayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleFridayInput"><label for="storeScheduleFridayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer" id="storeScheduleSaturday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Saturday"));</script> :</p>
          </td>
          <td>
          <input placeholder = "tbd" class="storeScheduleTimeInput storeScheduleStartTime storeScheduleSaturdayInput" type="text" name="" value="" readonly ><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input readonly class="storeScheduleSaturdayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleSaturdayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleSaturdayInput"><label for="storeScheduleSaturdayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
        <tr class="storeScheduleDayLineContainer storeScheduleSunday" id="storeScheduleSunday">
          <td>
          <p class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Sunday"));</script> :</p>
          </td>
          <td>
          <input class="storeScheduleTimeInput storeScheduleStartTime storeScheduleSundayInput" type="text" name="" value="" readonly ><p class="storeScheduleDayText"><script>document.write(translateWord("to"));</script></p><input readonly class="storeScheduleSundayInput storeScheduleEndTime storeScheduleTimeInput" type="text" name="" value="">
          </td>
          <td>
          <input id="storeScheduleSundayCheckbox" class="storeScheduleRadioButton" type="checkbox" data-relevantinputclass="storeScheduleSundayInput"><label for="storeScheduleSundayCheckbox" class="storeScheduleDayText"><script type="text/javascript">document.write(translateWord("Closed"));</script></label>
          </td>
        </tr>
      </table>
    </div>
    <div class="saveButtonDiv">
      <button class="quasiFullWidthCtaButton" id="storeScheduleSettingsSaveButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Save"));</script></button>
    </div>
  </div>




      <div id="storeAbsencesSettingsMainContainer" class="secondLevelParentCategorySelector">
        <div class="settingsContentScrolling">
          <img class="backArrowSettings" src="assets/icons/octiconsSvg/chevron-left.svg" alt="">
          <p class="settingsPageTitleSecondLevel"><script type="text/javascript">document.write(translateWord("Store absences"));</script></p>
          <div class="dataEntriesMainContainer">
              <div id="currentAbsencesDiv" class="dataEntriesInnerDiv">
                <% for(var y=0; y<storeObj.storeAbsences.length;y++){ %>
                  <div class="dataEntryInputContainer storeAbsencesChildContainer" data-id="<%=storeObj.storeAbsences[y]._id %>">
                    <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Description"));</script></label>
                      <input type="text" name="" value="" class="existingStoreAbsenceReason textInputSetting" placeholder="<%=storeObj.storeAbsences[y].reason %>">
                      <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("Start date"));</script></label>
                        <% if(storeObj.storeAbsences[y].startTime == -1){ %>
                        <input type="text" class="absenceInputDateTime existingStoreAbsenceStart textInputSetting" data-date="<%=storeObj.storeAbsences[y].startDate %>" data-time="-1" readonly name="" placeholder="<%=storeObj.storeAbsences[y].startDate %> (full day)">
                        <% }else{ %>
                        <input type="text" class="absenceInputDateTime existingStoreAbsenceStart textInputSetting" data-date="<%=storeObj.storeAbsences[y].startDate %>" data-time="<%=storeObj.storeAbsences[y].startTime %>" readonly placeholder="<%=storeObj.storeAbsences[y].startDate %> <%=minutesToHourStringEJS(storeObj.storeAbsences[y].startTime) %>">
                        <% } %>

                        <label class="inputSettingLabel"><script type="text/javascript">document.write(translateWord("End date"));</script></label>
                      <% if(storeObj.storeAbsences[y].endDate == -1){ %>
                      <input type="text" class="absenceInputDateTime" data-date="-1" data-time="-1" readonly placeholder="same day">
                      <% }else{ %>

                        <% if(storeObj.storeAbsences[y].endTime == -1){ %>
                        <input type="text" class="absenceInputDateTime existingStoreAbsenceEnd textInputSetting" data-date="<%=storeObj.storeAbsences[y].endDate %>" data-time="-1" readonly placeholder="<%=storeObj.storeAbsences[y].endDate %> (full day)">
                        <% }else{ %>
                        <input type="text" class="absenceInputDateTime existingStoreAbsenceEnd textInputSetting" data-date="<%=storeObj.storeAbsences[y].endDate %>" data-time="<%=storeObj.storeAbsences[y].endTime %>" readonly placeholder="<%=storeObj.storeAbsences[y].endDate %> <%= minutesToHourStringEJS(storeObj.storeAbsences[y].endTime) %>">
                        <% } %>
                      <% } %>

                      <img src="assets/icons/octiconsSvg/trashcan.svg" class="dataEntryRemoveButton storeAbsencesRemoveX" alt="">
                  </div>
                <% } %>
              </div>
          </div>
          <div id="newAbsenceButton" class="roundButtonNewAction">
            <img class="clickableIconImg newButtonWhitePlus" src="assets/icons/octiconsSvg/plus-white.svg" alt="">
          </div>
        </div>
        <div class="saveButtonDiv">
          <button class="quasiFullWidthCtaButton" id="storeAbsencesSettingsSaveButton" type="button" name="button" value="Save"><script type="text/javascript">document.write(translateWord("Save"));</script></button>
        </div>
      </div>

<div class="parentCategorySelector" id="firstLevelCategorySelector">
  <p class="settingsPageTitle" id=""><script type="text/javascript">document.write(translateWord("Settings"));</script></p>
  <div id="mainMenuSettingSelector" class="settingSelectorMainContainer">
    <p class="settingsSubCategoryMainTitle"><script type="text/javascript">document.write(translateWord("Business settings"));</script></p>
    <div class="mainCategorySelectorDiv">
      <div id="generalFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p class="activeP"><script type="text/javascript">document.write(translateWord("General settings"));</script></p>
        </div>
      </div>
      <div id="servicesFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p><script type="text/javascript">document.write(translateWord("Services"));</script></p>
        </div>
      </div>
      <div id="scheduleFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p><script type="text/javascript">document.write(translateWord("Store schedule"));</script></p>
        </div>
      </div>
      <div id="storeAbsencesFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p><script type="text/javascript">document.write(translateWord("Store absences"));</script></p>
        </div>
      </div>
    </div>
    <!-- <p class="settingsSubCategoryMainTitle">Staff Settings</p>
    <div class="mainCategorySelectorDiv">
      <div id="manageStaffFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p>Manage Members</p>
        </div>
      </div>
      <div id="staffScheduleFirstSelector" class="subCategorySelectorDiv">
        <img class="categoryRightArrow" src="assets/icons/octiconsSvg/chevron-right.svg" alt="">
        <div class="subCategoryInnerDiv">
          <p>Members Schedule</p>
        </div>
      </div>
    </div> -->
  </div>
</div>

</div>






<% function decimalToHourEJS(num){
  var hrs = parseInt(Number(num));
  var min = Math.round((Number(num)-hrs) * 60);
  if(min == 0){
      min = "00";
  }
  var hourString = hrs+':'+min;
  if(hrs>11){
    hourString +="PM";
  }else{
    hourString+="AM";
  }
  return hourString;
} %>



<% function minutesToHourStringEJS(minutes){
  var nbHours = Math.floor(minutes/60);
  var nbMinutes = minutes - (nbHours*60);
  var hourString = "";
  if(nbHours<10){
    hourString+= "0"+nbHours+":";
  }else{
    hourString+= nbHours+":";
  }
  if(nbMinutes == 0){
    hourString+="00";
  }else if(nbMinutes < 10){
    hourString+="0"+nbMinutes;
  }else{
    hourString+=nbMinutes;
  }
  return hourString;
} %>



<% function decimalToHour12FormatEJS(num){
  var hrs = parseInt(Number(num));
  var min = Math.round((Number(num)-hrs) * 60);
  if(min == 0){
      min = "00";
  }
  var hourString = "";
  if(hrs>11){
    hourString = (hrs-12)+':'+min+"PM";
  }else{
    hourString = hrs+':'+min+"AM";
  }
  return hourString;
} %>


<script>
var oldPassIsVisible = false;
var newPassIsVisible = false;





var collapsibleServicesButton = document.getElementsByClassName("collapsibleSettingsServicesButton");
for (var w = 0; w < collapsibleServicesButton.length; w++) {
  collapsibleServicesButton[w].addEventListener("click", function() {
    this.classList.toggle("activeCollapsible");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}




var storeServicesRemoveX = document.getElementsByClassName("storeServicesRemoveX");
for(var s=0;s<storeServicesRemoveX.length;s++){
  storeServicesRemoveX[s].onclick = function(){
    removeExistingServiceEntry(this.closest(".dataEntryInputContainer"))
  }
}

var storeAbsencesRemoveX = document.getElementsByClassName('storeAbsencesRemoveX');
for(var w=0;w<storeAbsencesRemoveX.length;w++){
  storeAbsencesRemoveX[w].onclick = function(){
    removeExistingAbsenceEntry(this.closest(".dataEntryInputContainer"));
  }
}



var absenceInputDateTime = document.getElementsByClassName('absenceInputDateTime');
for(var g=0;g<absenceInputDateTime.length;g++){
  absenceInputDateTime[g].onclick = function(){
    createDivForDateTimePicker(this);
  }
}



function setStoreScheduleDayValues(){
var mondayDiv = document.getElementById("storeScheduleMonday");
var tuesdayDiv = document.getElementById("storeScheduleTuesday");
var wednesdayDiv = document.getElementById("storeScheduleWednesday");
var thursdayDiv = document.getElementById("storeScheduleThursday");
var fridayDiv = document.getElementById("storeScheduleFriday");
var saturdayDiv = document.getElementById("storeScheduleSaturday");
var sundayDiv = document.getElementById("storeScheduleSunday");



<% if(storeObj.storeSchedule){ %>
  <% if(storeObj.storeSchedule[0]){ %>
    <% if(storeObj.storeSchedule[0].startTime == 0 && storeObj.storeSchedule[0].endTime == 0){ %>
    var sundayStart = sundayDiv.getElementsByClassName('storeScheduleStartTime')[0];
    sundayStart.setAttribute('data-time', -1);
    sundayStart.placeholder = translateWord("closed");
    sundayStart.disabled = true;
    var sundayEnd = sundayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    sundayEnd.placeholder = translateWord("closed");
    sundayEnd.disabled = true;
    sundayEnd.setAttribute('data-time', -1);
    sundayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
    <% }else{ %>
      var sundayEnd = sundayDiv.getElementsByClassName('storeScheduleEndTime')[0];
      var sundayStart = sundayDiv.getElementsByClassName('storeScheduleStartTime')[0];

      sundayStart.setAttribute('data-time', <%- storeObj.storeSchedule[0].startTime %>);
      sundayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[0].endTime %>);

      sundayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[0].startTime %>);
      sundayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[0].endTime %>);
      sundayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
    <% } %>
  <% } %>

<% if(storeObj.storeSchedule[1]){ %>
  <% if(storeObj.storeSchedule[1].startTime == 0 && storeObj.storeSchedule[1].endTime == 0){ %>
  var mondayStart = mondayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  mondayStart.placeholder = translateWord("closed");
  mondayStart.disabled = true;
  var mondayEnd = mondayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  mondayEnd.placeholder = translateWord("closed");
  mondayEnd.disabled = true;
  mondayStart.setAttribute('data-time', -1);
  mondayEnd.setAttribute('data-time', -1);
  mondayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  <% }else{ %>
    var mondayEnd = mondayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var mondayStart = mondayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    mondayStart.setAttribute('data-time', <%- storeObj.storeSchedule[1].startTime %>);
    mondayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[1].endTime %>);

    mondayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[1].startTime %>);
    mondayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[1].endTime %>);
    mondayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
  <% } %>

<% if(storeObj.storeSchedule[2]){ %>
  <% if(storeObj.storeSchedule[2].startTime == 0 && storeObj.storeSchedule[2].endTime == 0){ %>
  var tuesdayStart = tuesdayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  tuesdayStart.placeholder = translateWord("closed");
  tuesdayStart.disabled = true;
  var tuesdayEnd = tuesdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  tuesdayEnd.placeholder = translateWord("closed");
  tuesdayEnd.disabled = true;
  tuesdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  tuesdayStart.setAttribute('data-time', -1);
  tuesdayEnd.setAttribute('data-time', -1);
  <% }else{ %>
    var tuesdayEnd = tuesdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var tuesdayStart = tuesdayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    tuesdayStart.setAttribute('data-time', <%- storeObj.storeSchedule[2].startTime %>);
    tuesdayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[2].endTime %>);

    tuesdayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[2].startTime %>);
    tuesdayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[2].endTime %>);
    tuesdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
  <% } %>

<% if(storeObj.storeSchedule[3]){ %>
  <% if(storeObj.storeSchedule[3].startTime == 0 && storeObj.storeSchedule[3].endTime == 0){ %>
  var wednesdayStart = wednesdayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  wednesdayStart.placeholder = translateWord("closed");
  wednesdayStart.disabled = true;
  var wednesdayEnd = wednesdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  wednesdayEnd.placeholder = translateWord("closed");
  wednesdayEnd.disabled = true;
  wednesdayStart.setAttribute('data-time', -1);
  wednesdayEnd.setAttribute('data-time', -1);
  wednesdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  <% }else{ %>
    var wednesdayEnd = wednesdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var wednesdayStart = wednesdayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    wednesdayStart.setAttribute('data-time', <%- storeObj.storeSchedule[3].startTime %>);
    wednesdayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[3].endTime %>);

    wednesdayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[3].startTime %>);
    wednesdayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[3].endTime %>);
    wednesdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
  <% } %>

<% if(storeObj.storeSchedule[4]){ %>
  <% if(storeObj.storeSchedule[4].startTime == 0 && storeObj.storeSchedule[4].endTime == 0){ %>
  var thursdayStart = thursdayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  thursdayStart.placeholder = translateWord("closed");
  thursdayStart.disabled = true;
  var thursdayEnd = thursdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  thursdayEnd.placeholder = translateWord("closed");
  thursdayEnd.disabled = true;
  thursdayStart.setAttribute('data-time', -1);
  thursdayEnd.setAttribute('data-time', -1);
  thursdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  <% }else{ %>
    var thursdayEnd = thursdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var thursdayStart = thursdayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    thursdayStart.setAttribute('data-time', <%- storeObj.storeSchedule[4].startTime %>);
    thursdayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[4].endTime %>);

    thursdayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[4].startTime %>);
    thursdayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[4].endTime %>);
    thursdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
  <% } %>

<% if(storeObj.storeSchedule[5]){ %>
  <% if(storeObj.storeSchedule[5].startTime == 0 && storeObj.storeSchedule[5].endTime == 0){ %>
  var fridayStart = fridayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  fridayStart.placeholder = translateWord("closed");
  fridayStart.disabled = true;
  var fridayEnd = fridayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  fridayEnd.placeholder = translateWord("closed");
  fridayEnd.disabled = true;
  fridayStart.setAttribute('data-time', -1);
  fridayEnd.setAttribute('data-time', -1);
  fridayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  <% }else{ %>
    var fridayEnd = fridayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var fridayStart = fridayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    fridayStart.setAttribute('data-time', <%- storeObj.storeSchedule[5].startTime %>);
    fridayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[5].endTime %>);

    fridayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[5].startTime %>);
    fridayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[5].endTime %>);
    fridayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
  <% } %>


<% if(storeObj.storeSchedule[6]){ %>
  <% if(storeObj.storeSchedule[6].startTime == 0 && storeObj.storeSchedule[6].endTime == 0){ %>
  var saturdayStart = saturdayDiv.getElementsByClassName('storeScheduleStartTime')[0];
  saturdayStart.placeholder = translateWord("closed");
  saturdayStart.disabled = true;
  var saturdayEnd = saturdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
  saturdayEnd.placeholder = translateWord("closed");
  saturdayEnd.disabled = true;
  saturdayStart.setAttribute('data-time', -1);
  saturdayEnd.setAttribute('data-time', -1);
  saturdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = true;
  <% }else{ %>
    var saturdayEnd = saturdayDiv.getElementsByClassName('storeScheduleEndTime')[0];
    var saturdayStart = saturdayDiv.getElementsByClassName('storeScheduleStartTime')[0];

    saturdayStart.setAttribute('data-time', <%- storeObj.storeSchedule[6].startTime %>);
    saturdayEnd.setAttribute('data-time', <%- storeObj.storeSchedule[6].endTime %>);

    saturdayDiv.getElementsByClassName('storeScheduleStartTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[6].startTime %>);
    saturdayDiv.getElementsByClassName('storeScheduleEndTime')[0].placeholder = minutesToHourString(<%- storeObj.storeSchedule[6].endTime %>);
    saturdayDiv.getElementsByClassName('storeScheduleRadioButton')[0].checked = false;
  <% } %>
<% } %>
<% } %>
}
setStoreScheduleDayValues();














//navigation back button arrow
var backbuttons = document.getElementsByClassName('backArrowSettings');
for(var i=0;i<backbuttons.length;i++){
  backbuttons[i].onclick = function(){
  moveSecondLevelDivsToRight();
  document.getElementById('firstLevelCategorySelector').className = "parentCategorySelector activeCategorySelector";
  }
}





//display hide eye icon
document.getElementById('oldPasswordEyeIcon').onclick = function(){
  if(oldPassIsVisible){
    this.src="assets/icons/octiconsSvg/eye.svg";
    document.getElementById(this.getAttribute('data-relatedpasswordid')).type = "password";
    oldPassIsVisible = false;
  }else{
    this.src="assets/icons/octiconsSvg/eye-closed.svg";
    document.getElementById(this.getAttribute('data-relatedpasswordid')).type = "text";
    oldPassIsVisible = true;
  }
}
document.getElementById('newPasswordEyeIcon').onclick = function(){
  if(newPassIsVisible){
    this.src="assets/icons/octiconsSvg/eye.svg";
    document.getElementById(this.getAttribute('data-relatedpasswordid')).type = "password";
    newPassIsVisible = false;
  }else{
    this.src="assets/icons/octiconsSvg/eye-closed.svg";
    document.getElementById(this.getAttribute('data-relatedpasswordid')).type = "text";
    newPassIsVisible = true;
  }
}







//save button onclick for general settings
document.getElementById('generalSettingsSaveButton').onclick = function(){
  clearLabelUnderInput();
  var bName = document.getElementById('bNameInput');
  var bLocation = document.getElementById('bLocationInput');
  var bPhone = document.getElementById('bPhoneInput');
  var fbLink = document.getElementById('fbLinkInput');
  var instaLink = document.getElementById('instaLinkInput');
  var websiteLink = document.getElementById('websiteLinkInput');
  var bEmail = document.getElementById('bEmailInput');
  var oldPass = document.getElementById('oldPasswordInput');
  var newPass = document.getElementById('newPasswordInput');
  var ownerName = document.getElementById('ownerNameInput');

if(bName.value!="" || bLocation.value != ""|| bPhone.value != "" || fbLink.value != "" || instaLink.value!=""|| websiteLink.value!=""||bEmail.value!=""||oldPass.value!=""||newPass.value!=""||ownerName.value!=""){
  if((newPass.value != "" && oldPass.value == "") || (newPass.value == "" && oldPass.value != "")){
    document.getElementById('passwordInputUnderLabel').innerText = "Your old password and new password must be filled in";
  }else{
    if(newPass.value !="" && oldPass.value != "" && newPass.value == oldPass.value){
      document.getElementById('passwordInputUnderLabel').innerText = "Your new password must not be the same as your old password";
    }else{
      displayLoader();
      $.ajax({
         url : 'updateStoreGeneralSettings',
         type : 'POST',
         data:{bName:bName.value, bLocation:bLocation.value, bPhone:bPhone.value,fbLink:fbLink.value, instaLink:instaLink.value, websiteLink:websiteLink.value, bEmail:bEmail.value, oldPass:oldPass.value, newPass:newPass.value, ownerName:ownerName.value},
         success : function(data, textStatut){
           if(data =="oldPassNoMatch"){
             //given password doesnt match real current pass
             document.getElementById('passwordInputUnderLabel').innerText = "Your current password doesn't match your real one";

           }else if(data == "ok"){

             if(bName.value!=""){
               bName.placeholder = bName.value;
               bName.value="";
             }
             if(bLocation.value!=""){
               bLocation.placeholder = bLocation.value;
               bLocation.value="";
             }
             if(bPhone.value!=""){
               bPhone.placeholder = bPhone.value;
               bPhone.value="";
             }
             if(fbLink.value!=""){
               fbLink.placeholder = fbLink.value;
               fbLink.value="";
             }
             if(instaLink.value!=""){
               instaLink.placeholder = instaLink.value;
               instaLink.value="";
             }
             if(websiteLink.value!=""){
               websiteLink.placeholder = websiteLink.value;
               websiteLink.value="";
             }
             if(bEmail.value!=""){
               bEmail.placeholder = bEmail.value;
               bEmail.value="";
             }
             if(ownerName.value!=""){
               ownerName.placeholder = ownerName.value;
               ownerName.value="";
             }
             if(oldPass.value!=""){
               oldPass.placeholder = oldPass.value;
               oldPass.value="";
             }
             if(newPass.value!=""){
               newPass.placeholder = newPass.value;
               newPass.value="";
             }


          displaySnackbar('Settings successfully updated', document.getElementById('settingsPageMainBody'));
        }else if(data=="error"){

          displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
        }
         },
         error : function(textStatut, errorThrown){

           displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
         }

      });
      deleteLoader();
    }
  }
}else{
  displaySnackbar('Oups, looks like you have not modified anything.', document.getElementById('settingsPageMainBody'));
}
}









//save button onclick for store schedule settings
document.getElementById('storeScheduleSettingsSaveButton').onclick = function(){

var dailyScheduleUpdateArray = [];

//scan for changes in daily regular schedule
var dailyScheduleClass = document.getElementsByClassName('storeScheduleDayLineContainer');
  for(var w=0;w<dailyScheduleClass.length;w++){
    var startTime = dailyScheduleClass[w].getElementsByClassName('storeScheduleStartTime')[0];
    var endTime = dailyScheduleClass[w].getElementsByClassName('storeScheduleEndTime')[0];
    if(startTime.value!=""){
      var arrayTimes = [startTime.getAttribute('data-time'), endTime.getAttribute('data-time')];
      if(startTime.classList.contains('storeScheduleMondayInput')){
        arrayTimes.push(1);
      }else if(startTime.classList.contains('storeScheduleTuesdayInput')){
        arrayTimes.push(2);
      }else if(startTime.classList.contains('storeScheduleWednesdayInput')){
        arrayTimes.push(3);
      }else if(startTime.classList.contains('storeScheduleThursdayInput')){
        arrayTimes.push(4);
      }else if(startTime.classList.contains('storeScheduleFridayInput')){
        arrayTimes.push(5);
      }else if(startTime.classList.contains('storeScheduleSaturdayInput')){
        arrayTimes.push(6);
      }else if(startTime.classList.contains('storeScheduleSundayInput')){
        arrayTimes.push(0);
      }
      dailyScheduleUpdateArray.push(arrayTimes);
    }
  }

if(dailyScheduleUpdateArray.length!=0){
  displayLoader();
  $.ajax({
     url : 'updateStoreScheduleSettings',
     type : 'POST',
     data:{dailySchedule:dailyScheduleUpdateArray},
     success : function(data, textStatut){
        if(data == "ok"){

          for(var w=0;w<dailyScheduleClass.length;w++){
            var startTime = dailyScheduleClass[w].getElementsByClassName('storeScheduleStartTime')[0];
            var endTime = dailyScheduleClass[w].getElementsByClassName('storeScheduleEndTime')[0];
            if(startTime.value!=""){
              startTime.placeholder = startTime.value;
              startTime.value="";
            }
            if(endTime.value!=""){
              endTime.placeholder = endTime.value;
              endTime.value="";
            }
          }



         deleteLoader();

      displaySnackbar('Schedule successfully updated', document.getElementById('settingsPageMainBody'));
    }else if(data="error"){
      deleteLoader();
      displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
    }
     },
     error : function(textStatut, errorThrown){
       deleteLoader();
       displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
     }

  });
}else{
  displaySnackbar('Oups, looks like you have not modified anything.', document.getElementById('settingsPageMainBody'));
}





}









//save button onclick for store absences settings
document.getElementById('storeAbsencesSettingsSaveButton').onclick = function(){
var existingAbsencesUpdateArray = [];

//scan for changes in store absences that already exist
var existingStoreAbsences = document.getElementsByClassName('storeAbsencesChildContainer');
for(var t=0;t<existingStoreAbsences.length;t++){
  var startTime = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceStart')[0];
  var endTime = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceEnd')[0];
  var reasonInput = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceReason')[0];
  var absenceId = existingStoreAbsences[t].getAttribute('data-id');
  if(startTime.value!="" || endTime.value!="" || reasonInput.value!=""){
    var startDateTimeArray = [startTime.getAttribute('data-date'), startTime.getAttribute('data-time')];
    var endDateTimeArray = [endTime.getAttribute('data-date'), endTime.getAttribute('data-time')];
    var modifiedAbsenceArray = [startDateTimeArray, endDateTimeArray, reasonInput.value, absenceId];
    existingAbsencesUpdateArray.push(modifiedAbsenceArray);
  }
}
console.log(existingAbsencesUpdateArray);
if(existingAbsencesUpdateArray.length!=0){
  displayLoader();
  $.ajax({

     url : 'updateStoreAbsencesSettings',
     type : 'POST',
     data:{absences:existingAbsencesUpdateArray},
     success : function(data, textStatut){
        if(data == "ok"){


          for(var t=0;t<existingStoreAbsences.length;t++){
            var startTime = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceStart')[0];
            var endTime = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceEnd')[0];
            var reasonInput = existingStoreAbsences[t].getElementsByClassName('existingStoreAbsenceReason')[0];
            if(startTime.value!=""){
              startTime.placeholder = startTime.value;
              startTime.value="";
            }
            if(endTime.value!=""){
              endTime.placeholder = endTime.value;
              endTime.value="";
            }
            if(reasonInput.value!=""){
              reasonInput.placeholder = reasonInput.value;
              reasonInput.value="";
            }

          }
         deleteLoader();

      displaySnackbar('absences successfully updated', document.getElementById('settingsPageMainBody'));
    }else if(data="error"){
      deleteLoader();
      displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
    }
     },
     error : function(textStatut, errorThrown){
       deleteLoader();
       displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
     }

  });
}else{
  displaySnackbar('Oups, looks like you have not modified anything.', document.getElementById('settingsPageMainBody'));
}
}





document.getElementById("servicesSettingsSaveButton").onclick = function(){
  var serviceDivs = document.getElementsByClassName('storeServicesChildContainer');
  var servicesModified = [];
  for(var i=0;i<serviceDivs.length;i++){
    var nameInput = serviceDivs[i].getElementsByClassName('existingServiceName')[0];
    var priceInput = serviceDivs[i].getElementsByClassName('existingServicePrice')[0];
    if(nameInput.value != "" || priceInput.value != ""){
      var serviceObj = {};
      if(nameInput.value != ""){
        serviceObj.name = nameInput.value;
      }else{
        serviceObj.name = nameInput.placeholder;
      }

      if(priceInput.value != ""){
        serviceObj.price = priceInput.value;
      }else{
        serviceObj.price = priceInput.placeholder;
      }
      serviceObj.id = serviceDivs[i].getAttribute("data-id");


      servicesModified.push(serviceObj);
    }

    if(servicesModified.length!=0){
      displayLoader();
      $.ajax({

         url : 'updateStoreServicesSettings',
         type : 'POST',
         data:{services:servicesModified},
         success : function(data, textStatut){
            if(data == "ok"){


              for(var t=0;t<serviceDivs.length;t++){
                var nameInputModified = serviceDivs[t].getElementsByClassName('existingServiceName')[0];
                var priceInputModified = serviceDivs[t].getElementsByClassName('existingServicePrice')[0];

                if(nameInputModified.value!=""){
                  nameInputModified.placeholder = nameInputModified.value;
                  nameInputModified.value="";
                }
                if(priceInputModified.value!=""){
                  priceInputModified.placeholder = priceInputModified.value;
                  priceInputModified.value="";
                }
              }
             deleteLoader();

          displaySnackbar('services successfully updated', document.getElementById('settingsPageMainBody'));
        }else if(data="error"){
          deleteLoader();
          displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
        }
         },
         error : function(textStatut, errorThrown){
           deleteLoader();
           displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
         }

      });
    }else{
      displaySnackbar('Oups, looks like you have not modified anything.', document.getElementById('settingsPageMainBody'));
    }

  }
}






  document.getElementById('servicesFirstSelector').onclick = function(){
    var firstLevelCat = document.getElementById('firstLevelCategorySelector');
    firstLevelCat.classList.remove('activeCategorySelector');
    firstLevelCat.classList.add('leftCategorySelector');
    removeActiveAllPanels();
    makePActive(this);
    var servicesSettingsMainContainer = document.getElementById('servicesSettingsMainContainer');
    servicesSettingsMainContainer.classList.add('activeCategorySelector');
    }



  document.getElementById('generalFirstSelector').onclick = function(){
    var firstLevelCat = document.getElementById('firstLevelCategorySelector');
      firstLevelCat.classList.remove('activeCategorySelector');
      firstLevelCat.classList.add('leftCategorySelector');
      removeActiveAllPanels();
      makePActive(this);
      var generalSettingsMainContainer = document.getElementById('generalSettingsMainContainer');
      generalSettingsMainContainer.classList.add('activeCategorySelector');
      generalSettingsMainContainer.classList.remove('mobileNotActive');

  }



  document.getElementById('scheduleFirstSelector').onclick = function(){
    var firstLevelCat = document.getElementById('firstLevelCategorySelector');
      firstLevelCat.classList.remove('activeCategorySelector');
      firstLevelCat.classList.add('leftCategorySelector');
      removeActiveAllPanels();
      makePActive(this);
      var storeScheduleSettingsMainContainer = document.getElementById('storeScheduleSettingsMainContainer');
      storeScheduleSettingsMainContainer.classList.add('activeCategorySelector');
  }
  document.getElementById('storeAbsencesFirstSelector').onclick = function(){
    var firstLevelCat = document.getElementById('firstLevelCategorySelector');
      firstLevelCat.classList.remove('activeCategorySelector');
      firstLevelCat.classList.add('leftCategorySelector');
      removeActiveAllPanels();
      makePActive(this);
      var storeAbsencesMainContainer = document.getElementById('storeAbsencesSettingsMainContainer');
      storeAbsencesMainContainer.classList.add('activeCategorySelector');
  }




  function moveSecondLevelDivsToRight(){
var secondLevelMainContainer = document.getElementsByClassName('secondLevelParentCategorySelector');
    for(var x=0;x<secondLevelMainContainer.length;x++){
      secondLevelMainContainer[x].className = "secondLevelParentCategorySelector";
    }
  }



function clearLabelUnderInput(){
  var labelUnderInputGeneralSettings = document.getElementsByClassName('labelUnderInputGeneralSettings');
  for(var w=0;w<labelUnderInputGeneralSettings.length;w++){
    labelUnderInputGeneralSettings[w].innerText = "";
  }
}



function displaySnackbar(textToDisplay, divToPutItIn){
  var snackbarContainer = document.createElement('div');
  snackbarContainer.classList.add('snackbarMainContainer');

  var textInsideSnackbar = document.createElement('p');
  textInsideSnackbar.classList.add('textInsideSnackbar');
  textInsideSnackbar.innerText = textToDisplay;
  snackbarContainer.appendChild(textInsideSnackbar);

  divToPutItIn.appendChild(snackbarContainer);
  setTimeout(function(){ snackbarContainer.style.bottom = "20px";
  setTimeout(function(){ snackbarContainer.style.bottom = "-200px";
   setTimeout(function(){ snackbarContainer.remove();}, 1000);
   }, 3000);
 }, 1);
}


var storeScheduleRadioButton = document.getElementsByClassName('storeScheduleRadioButton');
console.log(storeScheduleRadioButton.length);
for(var u=0;u<storeScheduleRadioButton.length;u++){
  storeScheduleRadioButton[u].onchange = function(){
    console.log(this.checked);

    if(this.checked == true){
      console.log(this.getAttribute('relevantinputclass'));
      var theStoreScheduleInputs = document.getElementsByClassName(this.getAttribute('data-relevantinputclass'));
      for(var t=0;t<theStoreScheduleInputs.length;t++){
        theStoreScheduleInputs[t].disabled = true;
        theStoreScheduleInputs[t].value = "closed";
        theStoreScheduleInputs[t].setAttribute('data-time','0') ;
      }
    }else{
      console.log(this.getAttribute('data-relevantinputclass'));
      var theStoreScheduleInputs = document.getElementsByClassName(this.getAttribute('data-relevantinputclass'));
      for(var t=0;t<theStoreScheduleInputs.length;t++){
        theStoreScheduleInputs[t].disabled = false;
        theStoreScheduleInputs[t].value = "";
      }
    }
  }

}





var storeScheduleTimeInput = document.getElementsByClassName('storeScheduleTimeInput');
for(var e=0;e<storeScheduleTimeInput.length;e++){
  storeScheduleTimeInput[e].onclick = function(){
    var semiTransparentOverlay = document.createElement('div');
    semiTransparentOverlay.classList.add('transparentOverlay');

    function closeTimePopup(){
    semiTransparentOverlay.remove();
    }
    semiTransparentOverlay.onclick = function(e){
      if(e.target != this){

      }else{
        closeTimePopup();
      }
    }
    createTimePicker(this, semiTransparentOverlay, closeTimePopup, this.getAttribute('data-time'));
    document.body.appendChild(semiTransparentOverlay);
  }

}





function decimalToHour(num){
  var hrs = parseInt(Number(num));
  var min = Math.round((Number(num)-hrs) * 60);
  if(min == 0){
      min = "00";
  }
  var hourString = hrs+':'+min;
  if(hrs>11){
    hourString +="PM";
  }else{
    hourString+="AM";
  }
  return hourString;
}








document.getElementById('addAbsenceButton').onclick = function(){
  var absenceObj = new Object();
  var absStart = document.getElementById('newStoreAbsenceStart');
  var absEnd = document.getElementById('newStoreAbsenceEnd');
  var absReason = document.getElementById('newAbsenceReason');
  if(absStart.value=="" || absEnd.value == "" || absReason.value == ""){

  }else{
    absenceObj['startDate'] = absStart.getAttribute('data-date');
    absenceObj['endDate'] = absEnd.getAttribute('data-date');
    absenceObj['startTime'] = absStart.getAttribute('data-time');
    absenceObj['endTime'] = absEnd.getAttribute('data-time');
    absenceObj["reason"] = absReason.value;
    $.ajax({
       url : '/addStoreAbsence',
       type : 'POST',
       data:{absenceObj:absenceObj},
       success : function(data, textStatut){

         if(data.status == "ok"){
           console.log(data.absenceId);
           clearInput(absStart);
           clearInput(absEnd);
           absReason.value="";


           var absenceEntryContainer = document.createElement('div');
           absenceEntryContainer.classList = 'dataEntryInputContainer';
           absenceEntryContainer.setAttribute('data-id',data.absenceId);

           var descLabel = document.createElement("p");
           descLabel.className = "inputSettingLabel";
           descLabel.innerText = translateWord("Description");

           var reasonInput = document.createElement('input');
           reasonInput.type="text";
           reasonInput.className = "existingStoreAbsenceReason textInputSetting";
           reasonInput.placeholder = absenceObj["reason"];

           var startLabel = document.createElement("p");
           startLabel.className = "inputSettingLabel";
           startLabel.innerText = translateWord("Start time");

           var startInput = document.createElement('input');
           startInput.type="text";
           startInput.classList = 'absenceInputDateTime existingStoreAbsenceStart textInputSetting';
           startInput.readOnly = true;
           startInput.setAttribute('data-date', absenceObj['startDate']);
           startInput.setAttribute('data-time', absenceObj['startTime']);
           startInput.placeholder = absenceObj['startDate']+" "+minutesToHourString(absenceObj['startTime']);
           startInput.onclick = function(){
             createDivForDateTimePicker(this);
           }

           var endLabel = document.createElement("p");
           endLabel.className = "inputSettingLabel";
           endLabel.innerText = translateWord("End time");

           var endInput = document.createElement('input');
           endInput.type="text";
           endInput.classList = 'absenceInputDateTime existingStoreAbsenceEnd textInputSetting';
           endInput.readOnly = true;
           endInput.setAttribute('data-date', absenceObj['endDate']);
           endInput.setAttribute('data-time', absenceObj['endTime']);
           endInput.placeholder = absenceObj['endDate']+" "+minutesToHourString(absenceObj['endTime']);
           endInput.onclick = function(){
             createDivForDateTimePicker(this);
           }
           var xImg = document.createElement('img');
           xImg.src="assets/icons/octiconsSvg/trashcan.svg";
           xImg.onclick = function(){
             removeExistingAbsenceEntry(this.closest(".dataEntryInputContainer"));
           }
           xImg.className = "dataEntryRemoveButton storeAbsencesRemoveX";
           absenceEntryContainer.appendChild(descLabel);
           absenceEntryContainer.appendChild(reasonInput);
           absenceEntryContainer.appendChild(startLabel);
           absenceEntryContainer.appendChild(startInput);
           absenceEntryContainer.appendChild(endLabel);
           absenceEntryContainer.appendChild(endInput);
           absenceEntryContainer.appendChild(xImg);

           document.getElementById('currentAbsencesDiv').appendChild(absenceEntryContainer);
           document.getElementById('newAbsencesParentContainer').classList.remove('activeThirdLevel');
           document.getElementById('storeAbsencesSettingsMainContainer').classList.remove('leftCategorySelector');
         }else if(data.status == "error"){
           displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
         }
       },
       error : function(textStatut, errorThrown){
         displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
       }

    });
  }


}


document.getElementById('addServiceButton').onclick = function(){
  var serviceObj = new Object();
  var serviceName = document.getElementById('newServiceName');
  var servicePrice = document.getElementById('newServicePrice');
  if(serviceName.value=="" || servicePrice.value == ""){

  }else{
    serviceObj['serviceName'] = serviceName.value;
    serviceObj['price'] = servicePrice.value;

    $.ajax({
       url : '/addStoreService',
       type : 'POST',
       data:{serviceObj:serviceObj},
       success : function(data, textStatut){

         if(data.status == "ok"){
           serviceName.value="";
           servicePrice.value="";


           var serviceEntryContainer = document.createElement('div');
           serviceEntryContainer.classList = 'dataEntryInputContainer';
           serviceEntryContainer.setAttribute('data-id',data.serviceId);

           var nameLabel = document.createElement("p");
           nameLabel.className = "inputSettingLabel";
           nameLabel.innerText = translateWord("Name");

           var nameInput = document.createElement('input');
           nameInput.type="text";
           nameInput.classList = "textInputSetting";
           nameInput.placeholder = serviceObj["serviceName"];

           var priceLabel = document.createElement("p");
           priceLabel.className = "inputSettingLabel";
           priceLabel.innerText = translateWord("Price");

           var priceInput = document.createElement('input');
           priceInput.type="text";
           priceInput.classList = "textInputSetting";
           priceInput.placeholder = serviceObj["price"];



           var xImg = document.createElement('img');
           xImg.src="assets/icons/octiconsSvg/trashcan.svg";
           xImg.onclick = function(){
             removeExistingServiceEntry(this.closest(".dataEntryInputContainer"));
           }
           xImg.className = "dataEntryRemoveButton storeServicesRemoveX";
           serviceEntryContainer.appendChild(nameLabel);
           serviceEntryContainer.appendChild(nameInput);
           serviceEntryContainer.appendChild(priceLabel);
           serviceEntryContainer.appendChild(priceInput);
           serviceEntryContainer.appendChild(xImg);

           document.getElementById('currentServicesDiv').appendChild(serviceEntryContainer);
           document.getElementById('newServiceParentContainer').classList.remove('activeThirdLevel');
           document.getElementById('servicesSettingsMainContainer').classList.remove('leftCategorySelector');
         }else if(data.status == "error"){
           displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
         }
       },
       error : function(textStatut, errorThrown){
         displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
       }
    });
  }
}



function clearInput(inputField){
  inputField.value="";
  inputField.setAttribute('data-date', "");
  inputField.setAttribute('data-time', "");
  return;
}





function removeExistingAbsenceEntry(parentEntryContainer){
  $.ajax({
     url : '/deleteStoreAbsence',
     type : 'POST',
     data:{absenceId:parentEntryContainer.getAttribute('data-id')},
     success : function(data, textStatut){
       if(data =="ok"){
         parentEntryContainer.remove();
         displaySnackbar('Absence successfully deleted', document.getElementById('settingsPageMainBody'));
       }else if(data == "error"){
        displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
       }
     },
     error : function(textStatut, errorThrown){
       displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
     }

  });
}

function removeExistingServiceEntry(parentEntryContainer){
  $.ajax({
     url : '/deleteStoreService',
     type : 'POST',
     data:{serviceId:parentEntryContainer.getAttribute('data-id')},
     success : function(data, textStatut){
       if(data =="ok"){
         parentEntryContainer.remove();
         displaySnackbar('Service successfully deleted', document.getElementById('settingsPageMainBody'));
       }else if(data == "error"){
        displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
       }
     },
     error : function(textStatut, errorThrown){
       displaySnackbar('There has been a server error, please try again', document.getElementById('settingsPageMainBody'));
     }

  });
}





function createDivForDateTimePicker(clickedInput){

    var semiTransparentOverlay = document.createElement('div');
    semiTransparentOverlay.classList.add('transparentOverlay');

    function closeTimePopup(){
    semiTransparentOverlay.remove();
    }
    semiTransparentOverlay.onclick = function(e){
      if(e.target != this){

      }else{
        closeTimePopup();
      }
    }
    createDateTimePicker(clickedInput, semiTransparentOverlay, closeTimePopup, clickedInput.getAttribute('data-date'), clickedInput.getAttribute('data-time'));
    document.body.appendChild(semiTransparentOverlay);
}


function removeActiveAllPanels(){
var activeP = document.getElementsByClassName('activeP');
for(var i=0;i<activeP.length;i++){
  activeP[i].classList.remove('activeP');
}
var panels = document.getElementsByClassName("secondLevelParentCategorySelector");
for(var i=0;i<panels.length;i++){
panels[i].classList.remove("activeCategorySelector");
}
}

function makePActive(parentContainer){
var pTags = parentContainer.getElementsByTagName('p');
for(var t=0;t<pTags.length;t++){
pTags[t].classList.add('activeP');
}
}








document.getElementById("newAbsenceButton").onclick = function(){
  document.getElementById('newAbsencesParentContainer').classList.add('activeThirdLevel');
  document.getElementById('storeAbsencesSettingsMainContainer').classList.add('leftCategorySelector');
}
document.getElementById("newServiceButton").onclick = function(){
  document.getElementById("newServiceParentContainer").classList.add("activeThirdLevel");
  document.getElementById('servicesSettingsMainContainer').classList.add('leftCategorySelector');
}

document.getElementById("newAbsenceCloseButton").onclick = function(){
  document.getElementById("newAbsencesParentContainer").classList.remove('activeThirdLevel');
  document.getElementById('storeAbsencesSettingsMainContainer').classList.remove('leftCategorySelector');
}
document.getElementById("newServiceCloseButton").onclick = function(){
  document.getElementById("newServiceParentContainer").classList.remove('activeThirdLevel');
  document.getElementById('servicesSettingsMainContainer').classList.remove('leftCategorySelector');
}
document.getElementById("newAbsencesParentContainer").onclick = function(e){
if(e.target!=this){

}else{
  this.classList.remove("activeThirdLevel");
}
}
document.getElementById("newServiceParentContainer").onclick = function(e){
if(e.target!=this){

}else{
  this.classList.remove("activeThirdLevel");
}
}








</script>



<style>
  .activeThirdLevel{
    left:0 !important;
  }
  .dataEntryRemoveButton{
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
    height:25px;
  }

.mainInputTableContainer td:last-child{
  text-align:right;
}
.mainInputTableContainer td:nth-child(2n){
  text-align:center;
}
.mainInputTableContainer td:first-child{
  text-align:left;
}
  @media screen and (min-width:780px){
    #newAbsencesDivInnerContainer{
      width:calc(100% - 40px);
      left:20px;
      position:relative;
    }
    #newServicesDivInnerContainer{
      width:calc(100% - 40px);
      left:20px;
      position:relative;
    }
    .sideModalContentScrolling{
      position:relative;
      top:0;
      left:0;
      height:fit-content;
      width:100%;
    }
    #newAbsencesDiv{
      background-color:#fff;
      height:100%;
      position:relative;
      overflow:hidden;
      top:0;
      float:right;
      width:max-content;
      min-width:350px;
      border-radius:8px 0 0 8px;
    }
    #newServicesDiv{
      background-color:#fff;
      height:100%;
      position:relative;
      overflow:hidden;
      top:0;
      float:right;
      width:max-content;
      min-width:350px;
      border-radius:8px 0 0 8px;
    }
    .thirdLevelParentCategorySelector{
        top:0;
        height:100%;
        width:100%;
        left:100%;
        transition:0.3s all;
        z-index:300;
        position:fixed;
        border:none;
        background-color:rgba(0,0,0,0.6);
    }
    #settingsPageMainBody{
      overflow-x:hidden;
      overflow-y:auto;
      top:0;
      border:none;
      left: 80px;
      position: fixed;
      width: calc(100% - 80px);
      height: 100%;
      background-color: var(--background-page-color);
    }
    .parentCategorySelector{
      position:absolute;
      top:0;
      height:100%;
      width:180px;
      left:60px;
      transition:0.3s all;
    }
    .subCategoryInnerDiv{
      position:relative;
      top:0;
      left:20px;
      width:calc(100% - 20px);
    }
    .categoryRightArrow{
      display:none;
    }
    .subCategorySelectorDiv{
      position:relative;
      margin:0;
      width:100%;
      border:none;
      cursor:pointer;
    }
    .settingsSubCategoryMainTitle{
      color:var(--font-color-black);
      font-size:var(--mobile-font-size-big);
      font-weight:var(--mobile-font-weight-bold);
      padding-left:20px;
      margin-bottom:20px;
      cursor:context-menu;
    }
    .leftCategorySelector{
      left:60px;
    }
    .backArrowSettings{
      display:none;
    }
    .secondLevelParentCategorySelector{
        position:absolute;
        top:60px;
        height:calc(100% - 80px);
        width:calc(100% - 500px);
        min-width:360px;
        max-width:530px;
        left:100%;
        transition:0.3s all;
        background-color:#fff;
    }
    .activeCategorySelector{
      left:calc(45% + 120px) !important;
      transform:translateX(-50%);
    }

    .settingsPageTitleSecondLevel{
      display:none;
    }
    .subCategoryInnerDiv p{
      font-size:var(--mobile-font-size-regular);
      color:var(--font-color-grey);
      font-weight:var(--mobile-font-weight-big);
      margin:0;
      padding:7px 5px 7px 9px;
      margin-bottom:2px;
    }
    .subCategoryInnerDiv p:not(.activeP):hover {
      border-radius:4px;
      border:none;
      background-color:#e3e3e3;
    }
    .activeP{
      border:none;
      border-radius:4px;
      color:#fff !important;
      background-color:var(--cool-blue);
    }
    .storeScheduleDayLineContainer{
    }
    .mainInputTableContainer{
      position:relative;
      width:100%;
      left:0;
      min-height:70px;
    }
    .mainInputTableContainer td{
      padding-top:30px;
    }
  }


  @media screen and (max-width:780px){
    .mainInputTableContainer td{
      padding-top:30px;
    }
    #newServicesDiv{
      height:100%;
      position:relative;
      width:100%;
      left:0;
      top:0;
    }
    #settingsPageMainBody{
      overflow-x:hidden;
      overflow-y:auto;
      width:100%;
      position:fixed;
      height:calc(100% - 65px);
      top:0;
      border:none;
      left:0;
    }
    .sideModalContentScrolling{
      position:absolute;
      top:50px;
      left:0;
      height:calc(100% - 110px);
      width:100%;
    }
    .parentCategorySelector{
      position:absolute;
      top:0;
      height:100%;
      width:100%;
      left:0;
      transition:0.3s all;
    }
    .thirdLevelParentCategorySelector{
        top:0;
        height:calc(100% - 65px);
        width:100%;
        left:100%;
        transition:0.3s all;
        z-index:300;
        position:fixed;
        border:none;
        background-color:transparent;
    }
    .mainCategorySelectorDiv > div:first-of-type > div{
      border-top:1px solid #000;
    }
    .subCategoryInnerDiv{
      position:relative;
      top:0;
      left:20px;
      width:calc(100% - 20px);
      border-bottom:1px solid #000;
      height:100%;
    }
    .categoryRightArrow{
      position:absolute;
      top:20px;
      height:calc(100% - 40px);
      right:20px;
    }
    .subCategorySelectorDiv{
      position:relative;
      margin:0;
      width:100%;
      border:none;
      height:60px;
      cursor:pointer;
    }
    .settingsSubCategoryMainTitle{
      color:var(--font-color-black);
      font-size:var(--mobile-font-size-big);
      font-weight:var(--mobile-font-weight-bold);
      padding-left:20px;
    }
    .leftCategorySelector{
      left:-100% !important;
    }
    .backArrowSettings{
      position:relative;
      display:inline-block;
      margin:23px;
      height:var(--mobile-font-size-big);
      vertical-align:top;
      cursor:pointer;
    }
    .secondLevelParentCategorySelector{
        position:absolute;
        top:0;
        height:100%;
        width:100%;
        left:100%;
        transition:0.3s all
    }
    .activeCategorySelector{
      left:0;
    }
    .mobileNotActive{
      left:100% !important;
    }
    .settingsPageTitleSecondLevel{
      position:relative;
      display:inline-block;
      margin:20px;
      font-size:var(--mobile-font-size-big);
      font-weight:var(--mobile-font-weight-bold);
      color:#000;
      vertical-align:top;
    }
    .subCategoryInnerDiv p{
      font-size:var(--mobile-font-size-regular);
      color:var(--font-color-grey);
      line-height:60px;
      font-weight:var(--mobile-font-weight-big);
      margin:0;
    }
    .storeScheduleDayLineContainer{
    }
    .mainInputTableContainer{
      position:relative;
      width:calc(100% - 40px);
      left:20px;
      min-height:70px;
    }
  }

  .roundButtonNewAction{
    background-color:var(--icon-color-active);
    height:50px;
    width:50px;
    border-radius:50%;
    position:relative;
    top:0;
    margin-top:50px;
    left:50%;
    z-index:5;
    cursor:pointer;
    margin-bottom:40px;
    transform:translateX(-50%);
  }
  .newButtonWhitePlus{
    position:absolute;
    height:70%;
    width:70%;
    left:15%;
    top:15%;
  }



.storeAbsencesInput{
display:block;
position:relative;
margin-bottom:10px;
}

  .dataEntryInputContainer{
    border-top:1px solid #000;
    position:relative;
    width:100%;
    height:auto;
    padding-right:40px;
    padding-bottom:10px;
  }

  .storeScheduleTimeInput{
    width:55px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:var(--official-light-grey-border);
    margin:0;
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-grey);
  }
  .storeScheduleDayText{
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-grey);
    position:relative;
    display:inline-block;
    margin:0 5px 0 5px;
      }
  .textInsideSnackbar{
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:#fff;
    background-color:rgba(0, 0, 0, 0.84);
    border-radius:var(--official-border-radius);
    border:none;
    width:fit-content;
    padding:20px;
    position:relative;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    line-height:var(--mobile-font-size-regular);
    height:auto;
    margin:0;
    text-align:center;
  }

  .labelUnderInputGeneralSettings{
  margin:0px 20px 0 20px;
  position:relative;
  left:0;
  top:0;
  color:red;
  font-size:var(--mobile-font-size-regular);
  font-weight:var(--mobile-font-weight-regular);
  }

  .quasiFullWidthCtaButton{
    position:absolute;
    width:calc(100% - 40px);
    left:20px;
    height:40px;
    top:50%;
    transform:translateY(-50%);
    background-color:var(--cta-accent-color);
    border-radius:var(--official-border-radius);
    border:none;
    color:#fff;
    text-align:center;
    cursor:pointer;
  }
  .settingsContentScrolling{
    position:absolute;
    top:0;
    left:0;
    height:calc(100% - 60px);
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
  }
  .saveButtonDiv{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:60px;
    border:none
    background-color:#fff;
  }
  .inputSettingLabel{
    position:relative;
    top:0;
    left:0;
    margin:20px 0 10px 20px;
    display:block;
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-grey);
  }
  .textInputSetting{
    padding-left:10px;
    padding-right:10px;
    position:relative;
    top:0;
    left:0;
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-grey);
    margin:0px 0 10px 20px;
    display:block;
    width:calc(100% - 40px);
    border-radius:5px;
    border:var(--official-light-grey-border);
    height:30px;
  }
  .passwordInputSetting{
    padding-left:10px;
    padding-right:10px;
    position:relative;
    top:0;
    left:0;
    font-size:var(--mobile-font-size-regular);
    font-weight:var(--mobile-font-weight-regular);
    color:var(--font-color-grey);
    margin:0px 5px 10px 20px;
    display:inline-block;
    width:calc(100% - 70px);
    border-radius:5px;
    border:var(--official-light-grey-border);
    height:30px;
  }
  .eyeIconPassword{
    width:20px;
    display:inline-block;
    vertical-align:sub;
    cursor:pointer;
  }
  .mainInputContainer{
    position:relative;
    width:100%;
    left:0;
    min-height:70px;
  }
  .mainInputTableContainer{
    position:relative;
    width:calc(100% - 40px);
    left:20px;
    min-height:70px;
  }
  .dataEntriesMainContainer{
    position:relative;
    width:100%;
    left:0;
    margin:20px 0 50px 0;
    min-height:10px;
    border:none;
  }
  .dataEntriesInnerDiv{
    position:relative;
    top:0;
    left:0;
    width:calc(100% - 40px);
    margin:0 20px 0 20px;
    border:none;
    margin-bottom:100px;
    border-left:5px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
  }






  .firstChildSubCategory{
    border-top:1px solid #000;
  }

  .mainCategorySelectorDiv{
    width:100%;
    margin:0px 0px 60px 0px;
    min-height:30px;
    border:none;
    background-color:#fff;
  }


  .settingsPageTitle{
    position:relative;
    display:inline-block;
    margin:20px;
    font-size:var(--mobile-font-size-page-title);
    font-weight:var(--mobile-font-weight-bold);
    color:#000;
    vertical-align:top;
    cursor:context-menu;
  }



.settingSelectorMainContainer{
width:100%;
position:relative;
margin:30px 0px;
border:none;
min-height:80px;
background-color:transparent;
}

.dateTimePickerMainTypeInnerContainer{
  position:relative;
  width:100%;
  left:0;
  top:0;
  height:auto;
}

.dateTimePickerChangeViewDivMainContainer{
  position:relative;
  left:0;
  width:calc(100% - 40px);
  margin:0px 20px 20px 20px;
}
.dateTimePickerChangeViewInnerDiv{
  position:relative;
  left:0;
  width:50%;
  margin:0;
  display:inline-block;
}
.dateTimePickerChangeViewIcon{
  height:23px;
  left:50%;
  transform:translateX(-50%);
  position:relative;
}

.timePickerCancelMainDiv{
position:relative;
width:50%;
height:auto;
border-top:1px solid #000;
display:inline-block;
}
.timePickerDoneMainDiv{
  position:relative;
  width:50%;
  height:auto;
  border-top:1px solid #000;
  border-left:1px solid #000;
  display:inline-block;
}
.timePickerCancelInsideDiv{
width:100%;
height:auto;
left:0;
padding:10px 0;
text-align:center;
cursor:pointer;
}

.timePickerDoneInsideDiv{
width:100%;
height:auto;
left:0;
text-align:center;
cursor:pointer;
padding:10px 0;
}



.timePickerPopupMainDiv{
  width:300px;
  height:auto;
  background-color:#fff;
  border:none;
  position:relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding-top:20px;
  padding-bottom:0;
  top:50%;
  border-radius:var(--official-border-radius);
}

.timePickerHoursTable{
  width:calc(100% - 40px);
  position:relative;
  top:0px;
  left:20px;
  height:100px;
  border-collapse:collapse;
}
.timePickerHoursTable tr{
  height:50%;
}
.timePickerHoursTable td{
  text-align:center;
  border:none;
  font-size:var(--mobile-font-size-regular);
  font-color:var(--font-color-black);
  font-weight:var(--mobile-font-weight-regular);
}

.timePickerMinutesTable{
  width:calc(100% - 40px);
  position:relative;
  top:0;
  left:20;
  height:100px;
  border-collapse:collapse;
}
.timePickerMinutesTable tr{
  height:50%;
}
.timePickerMinutesTable td{
  text-align:center;
  border:none;
  font-size:var(--mobile-font-size-regular);
  font-color:var(--font-color-black);
  font-weight:var(--mobile-font-weight-regular);
}
.timePickerHeaderP{
  width:100%;
  left:0;
  top:0;
  margin:20px 0px 0px 0px;
  text-align:center;
  font-size:var(--mobile-font-size-regular);
  color:var(--font-color-grey);
  font-weight:var(--mobile-font-weight-regular);
}
.timePickerPlaceholderTimeHeader{
  width:100%;
  left:0;
  top:0;
  margin:0;
  text-align:center;
  font-size:var(--mobile-font-size-big);
  color:var(--font-color-black);
  font-weight:var(--mobile-font-weight-bold);
}
.timePickerAmPmContainer{
  width:100%;
  position:relative;
}
.timePickerAmContainer{
  width: 50%;
  position: relative;
  left: 0;
  text-align: center;
  display: inline-block;
}
.timePickerPmContainer{
  width: 50%;
  position: relative;
  left: 0;
  text-align: center;
  display: inline-block;
}




.dateTableContainer{
  width: 100%;
    position: relative;
    height: auto;
}
.calendarPopupDatePicker{

  width:calc(100% - 50px);
  height:320;
  top:0;
  background-color:#fff;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
.monthCalendarSelectorTable{
position:relative;
bottom:0;
left:0;
width:100%;
height:260px;
margin:0;
}
.monthCalendarSelectorTable td{
  width:calc(100% / 7);
  text-align:center;
}
.monthCalendarPickerTopDiv{
  height:40px;
  top:0;
  left:0;
  width:calc(100% - 20px);
}
.monthCalendarPickerLeftArrow{
position:absolute;
text-align:left;
left:0;
top:10;
margin:0;
}
.monthCalendarPickerRightArrow{
  position:absolute;
  text-align:right;
  right:0;
  top:10;
  margin:0;
}
.monthCalendarPickerMonthName{
  position:absolute;
  text-align:center;
  width:180px;
  font-weight:var(--mobile-font-weight-bold);
  color:var(--font-color-black);
  font-size:var(--mobile-font-size-big);
  left:50%;
  transform:translateX(-50%);
  top:10;
  margin:0;
}
.calendarTextBlocked{
  color:var(--font-color-lightgrey);
  font-weight:var(--mobile-font-weight-regular);
  font-size:var(--mobile-font-size-small);
}
.calendarTextAvailable{
  color:var(--font-color-black);
  font-weight:var(--mobile-font-weight-regular);
  font-size:var(--mobile-font-size-regular);
}







.collapsibleSettingsServicesContent{
  display:none;
  border:var(--official-light-grey-border);
  background-color:#fff;
  padding-top:15px;
}
.collapsibleSettingsServicesButton{
  width:100%;
  position:relative;
  left:0;
  margin:0;
  padding:10px 20px 10px 20px;
  border:var(--official-light-grey-border);
  background-color:#f9f9f9;
  cursor:pointer;
}
.collapsibleSettingsServicesButton:after{
  content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.activeCollapsible:after{
  content: '-';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.inline-servicesInput{
  position:relative;
  display:inline-block;
  margin-bottom:15px;
}
</style>

<% } %>


<script>
  google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
      var input = document.getElementById('bLocationInput');
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', function () {
      var place = autocomplete.getPlace();
      // place variable will have all the information you are looking for.
      $('#locationLong').val(place.geometry['location'].lat());
      $('#locationLat').val(place.geometry['location'].lng());
    });
  }
</script>
