<%- include partials/regularEmptyHead.ejs %>
<img id="chevronLeftBack" src="assets/icons/octiconsSVG/chevron-left.svg" alt="">
<p id="yesMemberP">Already a member? <a href="/storeLogin">Sign in</a></p>



<div id="mainFullWidthSliderContainer">
  <div class="fullWidthInnerSliderContainer">

    <div class="singleInputMainDiv activeSingleInputMainDiv" id="emailValueDiv">

      <div class="inputAround">
        <label class="labelInput js-hide-label" for="email">What's your business email address?</label>
          <input id="storeSignupEmail" name="email" class="signupInputs" type="email" placeholder="mybusiness@email.com"></input>
      </div>
      <label class="inputUnderText" id="emailUnderText" for="email"></label>
    </div>

    <div class="singleInputMainDiv" id="passwordValueDiv">
      <div class="inputAround">
        <label class="labelInput js-hide-label" for="password">Create a strong password</label>
          <input id="storeSignupPassword" class="signupInputs" name="password" type="password" placeholder="●●●●●"></input>
      </div>
      <label class="inputUnderText" id="passwordUnderText" for="password"></label>
    </div>

    <div class="singleInputMainDiv" id="bnameValueDiv">
      <div class="inputAround">
        <label class="labelInput js-hide-label" for="name">What's your business name?</label>
          <input id="storeSignupName" name="name" class="signupInputs" type="text" placeholder="Joey Pizzeria"></input>
      </div>
      <label class="inputUnderText" id="nameUnderText" for="name"></label>
    </div>

    <div class="singleInputMainDiv" id="btypeValueDiv">
      <div class="inputAround">
        <label class="labelInput js-hide-label" for="name">What's your business type?</label>
        <select id="storeSignupType">
          <option value="0">Barber</option>
          <option value="1">Dentist</option>
          <option value="2">Garagist</option>
          <option value="3">Optometrist</option>
        </select>
      </div>
      <label class="inputUnderText" id="nameUnderText" for="name"></label>
    </div>

    <div class="singleInputMainDiv" id="planSelectionDiv">
      <input type="hidden" value="<%= products[0].plans[0].id %>" id="membPlanId"/>
      <div class="inputAround">
        <label class="labelInput js-hide-label" for="name">Choose your plan</label>
        <div class="planSelectorMainContainer">

<% if(products.length>0){ %>
  <div class="featureParentFullWidthContainer">
    <div class="planNameContainer" data-planid="0">
      <p>Basic</p>
    </div>

    <div data-planid="<%= products[0].plans[0].id %>" class="planNameContainer activePlanNameContainer">
      <p>CAD <%= products[0].plans[0].nickname %></p>
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Monthly membership</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
        <p data-memId="0" class="planPriceP">Free</p>
    </div>
    <div class="featureContainerHalfWidth">
      <p class="planPriceP activePricePlan"><%= products[0].plans[0].amount %></p>
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Top notch tech support</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
        <img class="featureAvailabilityIconImg checkIconPlan" data-memId="0" src="assets/icons/octiconsSVG/check-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>


  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Premium appointment manager</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan" data-memId="0" src="assets/icons/octiconsSVG/check-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
        <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Manage employee schedule & services</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan" data-memId="0" src="assets/icons/octiconsSVG/check-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Customizable online business web page</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg xIconPlan" data-memId="0" src="assets/icons/octiconsSVG/x-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>24/7 online services booking for customers</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg xIconPlan" data-memId="0" src="assets/icons/octiconsSVG/x-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>

  <div class="featureParentFullWidthContainer">
    <p class='planFeatureNameP'>Cancel anytime</p>
  </div>
  <div class="featureParentFullWidthContainer">
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan" data-memId="0" src="assets/icons/octiconsSVG/check-inactive.svg" alt="">
    </div>
    <div class="featureContainerHalfWidth">
      <img class="featureAvailabilityIconImg checkIconPlan activeCheckIcon" src="assets/icons/octiconsSVG/check-active.svg" alt="">
    </div>
  </div>


<% } %>

        </div>
      </div>
      <label class="inputUnderText" id="nameUnderText" for="name"></label>
    </div>

    <div class="singleInputMainDiv" id="paymentInfoMainDiv">
      <div id="card-element">
              <!-- A Stripe Elements instance will be mounted here -->
      </div>
      <div id="card-errors" role="alert"></div>
    </div>


    <button id="nextButtonRegister" type="button" name="button">Next</button>
    <button id="submitButtonRegister" type="button" name="button">Submit</button>
  </div>
</div>






  <style>
    .featureAvailabilityIconImg{
      height:30px;
      position:relative;
      left:0;
    }
    .featureContainerHalfWidth{
      display:inline-block;
      width:50%;
      border:1px solid #fff;
      border-right:1px solid #cccccc;
      text-align:center;
      background-color:transparent;
      white-space:normal;
    }
    .featureContainerHalfWidth:last-child{
      border-right:0;
    }
    .planFeatureNameP{
      white-space:normal;
      text-align:center;
      width:100%;
      padding:0 20 0 20;
      margin:0;
      color:#000;
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-size-regular);
    }
    .planPriceP{
      color:#000;
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-size-regular);
    }
    .activePricePlan{
      color:var(--icon-color-active);
      font-size:var(--mobile-font-size-regular);
      font-weight:var(--mobile-font-size-regular);
    }
    .featureParentFullWidthContainer{
      position:relative;
      width:100%;
      margin:0 0 20 0;
    }
    .planNameContainer{
    display:inline-block;
    width:50%;
    border:1px solid #fff;
    text-align:center;
    background-color:var(--inactive-blue-color);
    white-space:normal;
    }
    .activePlanNameContainer{
      background-color:var(--icon-color-active);
    }
    .planNameContainer p{
      color:#fff;
      font-size:var(--mobile-font-size-big);
      font-weight:var(--mobile-font-weight-bold);
    }
    .planSelectorMainContainer{
      width:100%;
      position:relative;
      margin:30 0 20 0;
      overflow-y:auto;
      height:70%;
      overflow-x:hidden;
      white-space:nowrap;
    }

  #chevronLeftBack{
    height: 30px;
    position:absolute;
    top:20px;
    left:20px;
    display:none;
  }
  #nextButtonRegister{
    position:absolute;
    left:20px;
    bottom:20px;
    padding:15px 20px;
    width:calc(100% - 40px);
    border:none;
    border-radius: var(--official-border-radius);
    background-color:var(--icon-color-active);
    color:#fff;
  }
  #submitButtonRegister{
    position:absolute;
    display: none;
    left:20px;
    bottom:20px;
    padding:15px 20px;
    width:calc(100% - 40px);
    border:none;
    border-radius: var(--official-border-radius);
    background-color:var(--icon-color-active);
    color:#fff;
  }
  .fullWidthInnerSliderContainer{
    width:100%;
    left:0;
    margin:0;
    overflow-x:hidden;
    height:100%;
  }
  .singleInputMainDiv{
    width:100%;
    height:100%;
    background-color:transparent;
    overflow-y:auto;
    top:0px;
    position: absolute;
      margin: 0;
      padding: 0;
      left:100%;
      transition:all 0.3s;
  }
  .activeSingleInputMainDiv{
    left:0 !important;
  }
  .leftSingleInputMainDiv{
    left:-100% !important;
  }
#mainFullWidthSliderContainer{
  position:absolute;
  top:80px;
  left:0;
  overflow-x: hidden;
  width:100%;
  height:calc(100% - 80px);
  border:none;
}

  #logoHeader{
    position:relative;
    margin:30 0 80 20;
    height:90px;
  }

  #yesMemberP{
    color:var(--font-color-black);
    font-weight:var(--mobile-font-weight-regular);
    font-size: var(--mobile-font-size-regular);
    position:absolute;
    width:auto;
    top:20px;
    margin:0;
    right:0;
    padding:0 20;
  }
  #yesMemberP a{
    text-decoration: none;
    color:var(--icon-color-active);
  }
/*
  .js-hide-label {
      opacity: 0 !important;
      top: 1.5em
  } */
  .labelInput{
  position: relative;
  font-weight: var(--mobile-font-weight-bold);
  color:var(--font-color-grey);
  font-size: var(--mobile-font-size-page-title);
  margin-bottom: 5px;
  opacity:1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
  }


  .inputAround{
    width:calc(100% - 40px);
    background-color:#fff;
    border:none;
    position:relative;
    margin:30 20 50 20;
  }


  .signupInputs{
    position: relative;
    font-size: var(--mobile-font-size-big);
    color:var(--font-color-black);
    font-weight:var(--mobile-font-weight-regular);
    margin-top: 30px;
    border:0px;
    background-color:transparent;
    width:100%;
  }
  .inputUnderText{
    color: red;
    margin:20px;
  }
  </style>

  <script  src="https://js.stripe.com/v3/"></script>

<script>




  $(document).on("keydown", function(e) {
          if(e.shiftKey && e.keyCode == 9){
            console.log('shift+tab');
            //tab key press
              e.preventDefault();
              backRegisterStep();
              return;
          }else if(e.keyCode == 9){
            console.log('shift');
            //tab key press
              e.preventDefault();
              nextRegisterStep();
              return;
          }
      });



//stripe payments
var stripe = Stripe("pk_test_0Xw1nGhoDgalHBbzVxUM4p3T00A24FN3qW");
var elements = stripe.elements();
var style = {
base: {
fontSize: '16px', '::placeholder': { color: "#aab7c4"},
fontFamily: '"Open Sans", "Helvetica", sans-serif',
fontSmoothing: 'antialiased',
},
invalid: {
color: '#fa755a',
iconColor: '#fa755a'
}
};


/* Create a Stripe Elements instance
and mount to the div with the id 'card-element' */

var card = elements.create('card', {style: style});

card.mount('#card-element');

/* Handle validation errors */
card.addEventListener('change', event => {
var displayError = document.getElementById('card-errors');

if (event.error) {
displayError.textContent = event.error.message;
} else {
displayError.textContent = '';
}
});










var planNameContainer = document.getElementsByClassName('planNameContainer');
for(var i=0;i<planNameContainer.length;i++){
  planNameContainer[i].onclick = function(){
    if(!this.classList.contains('activePlanNameContainer')){
      setPlanIconsInactive();
      document.getElementById('membPlanId').value=this.getAttribute('data-planid');
      var membershipId = this.getAttribute('data-memId');
      this.classList.add('activePlanNameContainer');
      setPlanIconsActive(membershipId);
    }
  }
}

function setPlanIconsInactive(){
  var activePlanNameContainer = document.getElementsByClassName('activePlanNameContainer')[0].classList.remove('activePlanNameContainer');
  var activePricePlanP = document.getElementsByClassName('activePricePlan');
  var activeCheckIcon = document.getElementsByClassName('activeCheckIcon');
  var activeXIcon = document.getElementsByClassName('activeXIcon');

  while(activeCheckIcon.length>0){
    activeCheckIcon[0].src="assets/icons/octiconsSVG/check-inactive.svg";
    activeCheckIcon[0].classList.remove('activeCheckIcon');
  }
  while(activeXIcon.length>0){
    activeXIcon[0].src="assets/icons/octiconsSVG/x-inactive.svg";
    activeXIcon[0].classList.remove('activeXIcon');
  }
  while(activePricePlanP.length>0){
    activePricePlanP[0].classList.remove('activePricePlan');
  }
}


function setPlanIconsActive(membershipId){
var planPriceP = document.getElementsByClassName('planPriceP');
var xIconPlan = document.getElementsByClassName('xIconPlan');
var checkIconPlan = document.getElementsByClassName('checkIconPlan');
for(var t=0;t<xIconPlan.length;t++){
  if(xIconPlan[t].getAttribute('data-memId') == membershipId){
    xIconPlan[t].classList.add('activeXIcon');
    xIconPlan[t].src="assets/icons/octiconsSVG/x-active.svg";
  }
}
for(var t=0;t<checkIconPlan.length;t++){
  if(checkIconPlan[t].getAttribute('data-memId') == membershipId){
    checkIconPlan[t].classList.add('activeCheckIcon');
    checkIconPlan[t].src="assets/icons/octiconsSVG/check-active.svg";
  }
}
for(var t=0;t<planPriceP.length;t++){
  if(planPriceP[t].getAttribute('data-memId') == membershipId){
    planPriceP[t].classList.add('activePricePlan');
  }
}
}


var registrationStepValue = 0;

document.getElementById('nextButtonRegister').onclick = function(){
  nextRegisterStep();
};

function nextRegisterStep(){
  switch(registrationStepValue){
    case 0:
      document.getElementById('chevronLeftBack').style.display = "block";
      var emailValueDiv = document.getElementById('emailValueDiv');
      var passwordValueDiv = document.getElementById('passwordValueDiv');
      emailValueDiv.classList.remove('activeSingleInputMainDiv');
      emailValueDiv.classList.add('leftSingleInputMainDiv');
      passwordValueDiv.classList.add('activeSingleInputMainDiv');
      registrationStepValue++;
    break;
    case 1:
      document.getElementById('chevronLeftBack').style.display = "block";
      var passwordValueDiv = document.getElementById('passwordValueDiv');
      var bnameValueDiv = document.getElementById('bnameValueDiv');
      passwordValueDiv.classList.remove('activeSingleInputMainDiv');
      passwordValueDiv.classList.add('leftSingleInputMainDiv');
      bnameValueDiv.classList.add('activeSingleInputMainDiv');
      registrationStepValue++;
    break;
    case 2:
      document.getElementById('chevronLeftBack').style.display = "block";
      var bnameValueDiv = document.getElementById('bnameValueDiv');
      var btypeValueDiv = document.getElementById('btypeValueDiv');
      bnameValueDiv.classList.remove('activeSingleInputMainDiv');
      bnameValueDiv.classList.add('leftSingleInputMainDiv');
      btypeValueDiv.classList.add('activeSingleInputMainDiv');
      registrationStepValue++;
    break;
    case 3:
    document.getElementById('chevronLeftBack').style.display = "block";
    var btypeValueDiv = document.getElementById('btypeValueDiv');
    var bplanValueDiv = document.getElementById('planSelectionDiv');
    btypeValueDiv.classList.remove('activeSingleInputMainDiv');
    btypeValueDiv.classList.add('leftSingleInputMainDiv');
    bplanValueDiv.classList.add('activeSingleInputMainDiv');
    registrationStepValue++;
    break;
    case 4:
    document.getElementById('chevronLeftBack').style.display = "block";
    var bplanValueDiv = document.getElementById('planSelectionDiv');
    var bcardinfoValueDiv = document.getElementById('paymentInfoMainDiv');
    bplanValueDiv.classList.remove('activeSingleInputMainDiv');
    bplanValueDiv.classList.add('leftSingleInputMainDiv');
    bcardinfoValueDiv.classList.add('activeSingleInputMainDiv');
    registrationStepValue++;

    document.getElementById('nextButtonRegister').style.display = "none";
    document.getElementById('submitButtonRegister').style.display = "block";
    break;
  }
  console.log(registrationStepValue);
}


function backRegisterStep(){
  switch(registrationStepValue){
    case 1:
      document.getElementById('chevronLeftBack').style.display = "none";
      var passwordValueDiv = document.getElementById('passwordValueDiv');
      var emailValueDiv = document.getElementById('emailValueDiv');
      passwordValueDiv.classList.remove('activeSingleInputMainDiv');
      emailValueDiv.classList.add('activeSingleInputMainDiv');
      emailValueDiv.classList.remove('leftSingleInputMainDiv');
      registrationStepValue--;
    break;
    case 2:
      var bnameValueDiv = document.getElementById('bnameValueDiv');
      var passwordValueDiv = document.getElementById('passwordValueDiv');
      passwordValueDiv.classList.remove('leftSingleInputMainDiv');
      passwordValueDiv.classList.add('activeSingleInputMainDiv');
      bnameValueDiv.classList.remove('activeSingleInputMainDiv');
      registrationStepValue--;
    break;
    case 3:
      var bnameValueDiv = document.getElementById('bnameValueDiv');
      var btypeValueDiv = document.getElementById('btypeValueDiv');
      bnameValueDiv.classList.add('activeSingleInputMainDiv');
      bnameValueDiv.classList.remove('leftSingleInputMainDiv');
      btypeValueDiv.classList.remove('activeSingleInputMainDiv');
      registrationStepValue--;
    break;
    case 4:
      var bplanDiv = document.getElementById('planSelectionDiv');
      var btypeValueDiv = document.getElementById('btypeValueDiv');
      btypeValueDiv.classList.add('activeSingleInputMainDiv');
      btypeValueDiv.classList.remove('leftSingleInputMainDiv');
      bplanDiv.classList.remove('activeSingleInputMainDiv');
      registrationStepValue--;
    break;
    case 5:
      var bcardinfoValueDiv = document.getElementById('paymentInfoMainDiv');
      var bplanValueDiv = document.getElementById('planSelectionDiv');
      bplanValueDiv.classList.add('activeSingleInputMainDiv');
      bplanValueDiv.classList.remove('leftSingleInputMainDiv');
      bcardinfoValueDiv.classList.remove('activeSingleInputMainDiv');
      registrationStepValue--;
      document.getElementById('nextButtonRegister').style.display = "block";
      document.getElementById('submitButtonRegister').style.display = "none";
    break;

  }
}
// var inputs = document.getElementsByClassName('signupInputs');
// for(var i =0;i<inputs.length;i++){
//
//
//   $( inputs[i] ).keyup(function() {
//     if(this.value==""){
//       this.previousElementSibling.classList.add('js-hide-label');
//     }else{
//       this.previousElementSibling.classList.remove('js-hide-label');
//     }
//   });
// }





document.getElementById('chevronLeftBack').onclick = function(){
  backRegisterStep();
    console.log(registrationStepValue);

};


function submitRegisterForm(){
  var labelsUnderInput = document.getElementsByClassName('inputUnderText');
  for(var i=0;i<labelsUnderInput.length;i++){
    labelsUnderInput[i].innerText = "";
  }


  var emailSignup = $("#storeSignupEmail").val();
  var password = $("#storeSignupPassword").val();
  var name = $("#storeSignupName").val();
  var type = $("#storeSignupType").val();
  var planStripeId = $("#membPlanId").val();
  console.log(planStripeId);
  console.log(password);

  if(emailSignup!="" && password!="" && name!=""){
    //all fields are full
    if(password.length>=5 && name.length>=3){
      //ALL FIElds have good length

      stripe.createToken(card).then(function(resultToken) {
        if (resultToken.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = resultToken.error.message;
        } else {
          $.ajax({
                url: '/postLocalStoreSignup',
                type: 'post',
                data: {stripeToken:resultToken.token, email:emailSignup, customerEmail: emailSignup, password:password, storeName:name, storeType:type, planId:planStripeId},
                success: function( data, textStatus){
                  if(data == "ok"){
                    location.href = "/storeLogin";
                  }else if(data=="alreadyExist"){
                    alert('Store already exists');

                  }else if(data=="err"){
                    console.log('errrrrrrr');
                  }else{

                  }
                },
                error: function( textStatus, errorThrown ){
                    if(textStatus=="alreadyExist"){

                    }else if(textStatus=="err"){

                    }else{

                    }
                }
            });
        }
      })


    }else{
      //not all fields have good length
      if(password.length<5){
        document.getElementById('storeSignupPassword').focus();
        document.getElementById("passwordUnderText").innerText = "Your password must be at least 5 characters";
        displaySpecificDiv(1);
      }else if(name.length<5){
        document.getElementById('storeSignupName').focus();
        document.getElementById("nameUnderText").innerText = "Your name must be at least 5 characters";
        displaySpecificDiv(2);
      }
    }

  }else{
    //one or more field is empty
    if(emailSignup ==""){
      document.getElementById('storeSignupEmail').focus();
      document.getElementById("emailUnderText").innerText = "Please write your email";
      displaySpecificDiv(0);
    }else if(password ==""){
      document.getElementById('storeSignupPassword').focus();
      document.getElementById("passwordUnderText").innerText = "Please write your password";
      displaySpecificDiv(1);
    }else if(name ==""){
      document.getElementById('storeSignupName').focus();
      document.getElementById("nameUnderText").innerText = "Please write your name";
      displaySpecificDiv(2);
    }
  }
}



document.getElementById("submitButtonRegister").onclick = function(){
  submitRegisterForm();
}



function displaySpecificDiv(divNumber){
  var emailValueDiv = document.getElementById("emailValueDiv");
  var passwordValueDiv = document.getElementById("passwordValueDiv");
  var bnameValueDiv = document.getElementById('bnameValueDiv');
  var btypeValueDiv = document.getElementById('btypeValueDiv');
  var planSelectionDiv = document.getElementById('planSelectionDiv');
  var paymentValueDiv = document.getElementById('paymentInfoMainDiv');
  var submitButtonRegister = document.getElementById('submitButtonRegister');
  var nextButtonRegister = document.getElementById('nextButtonRegister');

  submitButtonRegister.style.display = "none";
  nextButtonRegister.style.display = "block";
  emailValueDiv.className = "singleInputMainDiv";
  passwordValueDiv.className = "singleInputMainDiv";
  bnameValueDiv.className = "singleInputMainDiv";
  btypeValueDiv.className = "singleInputMainDiv";
  paymentValueDiv.className = "singleInputMainDiv";
  planSelectionDiv.className = "singleInputMainDiv";

  switch(divNumber){
    case 0:
      document.getElementById('chevronLeftBack').style.display = "none";
      emailValueDiv.classList.add('activeSingleInputMainDiv');
      registrationStepValue = 0;
    break;
    case 1:
      document.getElementById('chevronLeftBack').style.display = "block";
      registrationStepValue = 1;
      emailValueDiv.classList.add('leftSingleInputMainDiv');
      passwordValueDiv.classList.add("activeSingleInputMainDiv");
    break;
    case 2:
      document.getElementById('chevronLeftBack').style.display = "block";
      registrationStepValue = 2;
      emailValueDiv.classList.add('leftSingleInputMainDiv');
      passwordValueDiv.classList.add('leftSingleInputMainDiv');
      bnameValueDiv.classList.add('activeSingleInputMainDiv');
    break;
    case 3:
      document.getElementById('chevronLeftBack').style.display = "block";
      registrationStepValue = 3;
      emailValueDiv.classList.add('leftSingleInputMainDiv');
      passwordValueDiv.classList.add('leftSingleInputMainDiv');
      bnameValueDiv.classList.add('leftSingleInputMainDiv');

      btypeValueDiv.classList.add('activeSingleInputMainDiv');

    break;
    case 4:
    break;
    case 5:
    submitButtonRegister.style.display = "block";
    nextButtonRegister.style.display = "none";
    break;
  }

}
</script>
