<%- include partials/regularEmptyHead.ejs %> 
<%- include partials/storeBottomNavBar.ejs %>

<script type="text/javascript">
var serverStoreObj = <%- JSON.stringify(storeObj) %>
  var localGuestClientsObj = null;
</script>

<body>
  <div id="filtersDivFullScreenContainer" class="transparentOverlayHidden">
    <div class="cardPopupContainer">
      <div class="cardPopup" id="filtersDivContainer">
        <div class="popupHeader">
          <p class="modalMainTitle">
            <script>
              document.write(translateWord('Filters'));
            </script>
          </p>
          <p id="filtersCloseButton" class="popupX">X</p>
        </div>
        <div id="filtersContentContainer" class="popupContentInfiniteHeight">
          <p class="agendaFilterTitle">
            <script>
              document.write(translateWord('Change view'));
            </script>
          </p>
          <div class="changeViewButtonContainer">
            <button id="weekViewButton" class="changeViewButton active">
              <script>
                document.write(translateWord('Week view'));
              </script>
            </button>
            <button id="dayViewButton" class="changeViewButton">
              <script>
                document.write(translateWord('Day view'));
              </script>
            </button>
            <!-- <button id='listViewButton' class='changeViewButton'><script>document.write(translateWord("List view"));</script></button> -->
          </div>
          <p class="agendaFilterTitle">
            <script>
              document.write(translateWord('Filter by employees'));
            </script>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="mainScreenBody">
    <div id="newAppointmentButton">
      <img
        id="newAppointmentWhitePlus"
        class="clickableIconImg"
        src="assets/icons/octiconsSvg/plus-white.svg"
        alt=""
      />
    </div>

    <% if(!locals.eventsObj || eventsObj.length == 0 || !locals.storeObj || storeObj.length == 0){ %>
    <script>
      var noEventsFoud = true;
    </script>
    <div id="noEventsMainDiv" class="">
      <img src="assets/emptyStatePictures/polarBearParty.png" alt="" />
      <p>
        <script>
          document.write(
            translateWord("Looks like you have no appointments yet. Let's get to work")
          );
        </script>
      </p>
    </div>

    <% }else{ %> 
    <%- include jsFiles/storeHomeJsListViewScript.ejs %>
    <%- include jsFiles/storeHomeJsWeekViewScript.ejs %> 
    <%- include jsFiles/storeHomeJsDayViewScript.ejs %>

    <script>
      var noEventsFoud = false;
    </script>

    <div id="" class="mainDivsAroundScheduleScreen">
      <div id="" class="scheduleTopNavBar">
        <div class="navbarDivisors" id="navbarLeftDivisor">
          <p class="pageTitle">
            <script type="text/javascript">
              document.write(translateWord('Agenda'));
            </script>
          </p>
        </div>

        <div class="navbarDivisors" id="navbarCenterDivisor">
          <button type="button" name="button" id="todayButton" class="todayButton">
            <script type="text/javascript">
              document.write(translateWord('Today'));
            </script>
          </button>
          <div id="weekViewWeekRangeContainer" class="monthWeekDateRangeContainer">
            <img
              class="arrowDateRange leftArrowDateRange"
              id="leftArrowWeekView"
              src="assets/icons/octiconsSvg/chevron-left.svg"
              alt=""
            />
            <p class="dateRangeP" id="weekViewWeekRangeP"></p>
            <img
              class="arrowDateRange rightArrowDateRange"
              id="rightArrowWeekView"
              src="assets/icons/octiconsSvg/chevron-right.svg"
              alt=""
            />
          </div>

          <div id="dayViewMonthNameContainer" class="monthWeekDateRangeContainer">
            <img
              class="arrowDateRange leftArrowDateRange"
              id="leftArrowDayView"
              src="assets/icons/octiconsSvg/chevron-left.svg"
              alt=""
            />
            <p class="dateRangeP" id="dayViewMonthNameP"></p>
            <img
              class="arrowDateRange rightArrowDateRange"
              id="rightArrowDayView"
              src="assets/icons/octiconsSvg/chevron-right.svg"
              alt=""
            />
          </div>
        </div>

        <div class="navbarDivisors" id="navbarRightDivisor">
          <img
            id="filtersIconImg"
            class="filtersIcons clickableIconImg"
            src="assets/icons/octiconsSvg/settings-inactive.svg"
            alt=""
          />
          <img
            id="calendarIconImg"
            class="filtersIcons clickableIconImg"
            src="assets/icons/octiconsSvg/calendar-inactive.svg"
            alt=""
          />
        </div>
      </div>

      <div id="scheduleContainerMainDiv" class=""></div>
    </div>
  </div>
</body>

<script>
  var downArrowClosePopup = document.getElementsByClassName('downArrowClosePopup');
  for (var o = 0; o < downArrowClosePopup.length; o++) {
    downArrowClosePopup[o].onclick = function () {
      closeAllOpenPopup();
    };
  }

  var employeeList = [];

  var weekViewBool = true;
  // var listViewBool = false;
  var dayViewBool = false;

  var dateSelected = new Date();
  var theDateToday = new Date();

  function removeColorInactiveViewButton() {
    var viewButtons = document.getElementsByClassName('changeViewButton');
    for (var r = 0; r < viewButtons.length; r++) {
      viewButtons[r].classList.remove('active');
    }
  }

  // document.getElementById("dayViewButton").onclick = function(){
  //   weekViewBool = false;
  //   // createListViewCalendar();
  // document.getElementById("weekViewScheduleMainDiv").style.display="none";
  // document.getElementById("dayViewScheduleMainDiv").style.display="block";
  // // document.getElementById("weekRangeContainer").style.display="none";
  // // document.getElementById("listViewMonthNameContainer").style.display="block";
  // // document.getElementById("weekDateRangeTable").style.display="none";
  // };

  document.getElementById('filtersIconImg').onclick = function () {
    showFiltersPopup();
  };

  createWeekViewCalendar(null);

  // function scrollToRightDateListView(theWantedDate){
  // closeAllTransparentOverlays();
  //
  // var posOfDiv = searchForSpecificDivWithDate(theWantedDate);
  // if(posOfDiv[0]!=-1){
  // console.log(theWantedDate.split('/')[1]);
  // var offsetTop = document.getElementsByClassName('newDayMainDiv')[posOfDiv[0]].offsetTop;
  // document.getElementById('listScheduleTableDiv').scrollTop = offsetTop-5;
  // document.getElementById('monthNameDivListView').innerText = fullMonthsName[theWantedDate.split('/')[1]]+" "+theWantedDate.split('/')[0];
  // }
  // }

  var filtersTransparentOverlay = document.getElementById('filtersDivFullScreenContainer');
  filtersTransparentOverlay.onclick = function (e) {
    if (e.target != this) {
      if (e.target.className == 'cardPopupContainer') {
        closeFiltersPopup();
      }
    } else {
      closeFiltersPopup();
    }
  };

  var filtersCloseButton = document.getElementById('filtersCloseButton');
  filtersCloseButton.onclick = function () {
    closeFiltersPopup();
  };

  function showFiltersPopup() {
    var fullScreenTransparentContainer = document.getElementById('filtersDivFullScreenContainer');
    fullScreenTransparentContainer.style.display = 'block';
  }

  function searchForSpecificDivWithDate(theWantedDate) {
    //date-month-year
    var wantedDateFormat = new Date(theWantedDate);
    var theDivForNewDay = document.getElementsByClassName('newDayMainDiv');
    var nearestDivToDateAfter = [null, null];
    var nearestDivToDateBefore = [null, null];
    for (var i = 0; i < theDivForNewDay.length; i++) {
      var theDateAssociatedWithDiv = new Date(theDivForNewDay[i].getAttribute('data-date'));
      if (theDateAssociatedWithDiv == theWantedDate) {
        return [i];
      } else {
        if (
          theDateAssociatedWithDiv >= wantedDateFormat &&
          (nearestDivToDateAfter[1] == null || theDateAssociatedWithDiv < nearestDivToDateAfter[1])
        ) {
          nearestDivToDateAfter[0] = i;
          nearestDivToDateAfter[1] = theDateAssociatedWithDiv;
        } else if (
          theDateAssociatedWithDiv <= wantedDateFormat &&
          (nearestDivToDateBefore[1] == null ||
            theDateAssociatedWithDiv > nearestDivToDateBefore[1])
        ) {
          nearestDivToDateBefore[0] = i;
          nearestDivToDateBefore[1] = theDateAssociatedWithDiv;
        }
      }
    }

    if (nearestDivToDateAfter[0] != null) {
      return nearestDivToDateAfter;
    } else if (nearestDivToDateBefore[0] != null) {
      return nearestDivToDateBefore;
    } else {
      return [-1];
    }
  }

  function hideMonthWeekDateRangeContainer() {
    var dayViewRangeDiv = document.getElementById('dayViewMonthNameContainer');
    // var listViewRangeDiv = document.getElementById('listViewMonthNameContainer');
    var weekViewRangeDiv = document.getElementById('weekViewWeekRangeContainer');

    dayViewRangeDiv.style.display = 'none';
    // listViewRangeDiv.style.display = "none";
    weekViewRangeDiv.style.display = 'none';
  }
</script>

<% } %>

<style>
  @media screen and (min-width: 780px) {
    #mainScreenBody {
      left: 80px;
      position: fixed;
      top: 0px;
      width: calc(100% - 80px);
      height: 100%;
      background-color: var(--background-page-color);
    }
    .monthWeekDateRangeContainer {
      width: auto;
      position: relative;
      height: 30px;
      display: none;
      border: none;
      color: var(--font-color-black);
      font-size: var(--mobile-font-size-regular);
      font-weight: var(--mobile-font-weight-regular);
      vertical-align: middle;
    }
    #filtersIconImg {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 45%;
      transform: rotate(90deg);
      margin: 0 12px 0 12px;
    }
    #calendarIconImg {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 45%;
      margin: 0 12px 0 12px;
    }
    .todayButton {
      position: relative;
      padding: 10px 20px 10px 20px;
      color: #000;
      box-shadow: var(--box-shadow-card);
      border: none;
      display: inline-block;
      background-color: #fff;
      border-radius: var(--official-border-radius);
      margin: 0 12px 0 12px;
      vertical-align: middle;
    }
    .scheduleTopNavBar {
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0;
      background-color: #fff;
      height: 65px;
      border-bottom: var(--nav-bar-border);
      overflow: hidden;
      font-size: 0;
    }

    #scheduleContainerMainDiv {
      position: absolute;
      top: 85px;
      height: calc((100% - 65px) - 40px);
      width: calc(100% - 40px);
      left: 20px;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: var(--box-shadow-card);
    }
    .pageTitle {
      font-size: var(--mobile-font-size-page-title);
      font-weight: var(--mobile-font-weight-bold);
      color: var(--font-color-black);
      width: max-content;
      position: relative;
      margin: 0;
      padding: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    #newAppointmentButton {
      background-color: var(--main-color);
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: fixed;
      bottom: 30px;
      right: 45px;
      z-index: 5;
      cursor: pointer;
    }

    #newAppointmentMainDivContainer {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 70vh;
      height: 70vh;
      max-height: 70%;
      display: block;
      background-color: #fff;
      z-index: 1000;
      box-shadow: var(--box-shadow-card);
      border-radius: var(--official-border-radius);
      overflow: hidden;
    }
    .navbarDivisors {
      vertical-align: top;
      position: relative;
      height: 100%;
      top: 0;
      left: 0;
      display: inline-block;
      border: none;
      min-width: 10px;
    }
    #navbarLeftDivisor {
      width: max-content;
      margin-left: 20px;
    }
    #navbarCenterDivisor {
      width: auto;
      margin-left: 15%;
    }
    #navbarCenterDivisor:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    #navbarRightDivisor:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }

  @media screen and (max-width: 780px) {
    .navbarDivisors {
      position: absolute;
      border: none;
      min-width: 10px;
    }
    #navbarLeftDivisor {
      top: 15px;
      left: 20px;
      height: calc(50% - 15px);
    }
    #navbarCenterDivisor {
      bottom: 15px;
      left: 20px;
      width: calc(100% - 40px);
      height: calc(50% - 15px);
    }
    #navbarRightDivisor {
      top: 15px;
      right: 20px;
      height: calc(50% - 15px);
    }
    #navbarCenterDivisor:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    #navbarRightDivisor:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      height: 100%;
    }

    #mainScreenBody {
      left: 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      height: calc(100% - 65px);
      background-color: var(--background-page-color);
    }
    .monthWeekDateRangeContainer {
      width: auto;
      position: relative;
      height: 30px;
      display: none;
      border: none;
      color: var(--font-color-black);
      font-size: var(--mobile-font-size-regular);
      font-weight: var(--mobile-font-weight-regular);
      float: right;
      top: 50%;
      transform: translateY(-50%);
    }
    #filtersIconImg {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 70%;
      transform: rotate(90deg);
      margin: 0 12px 0 12px;
    }
    #calendarIconImg {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      height: 70%;
      margin: 0 0 0 12px;
    }
    .todayButton {
      position: relative;
      padding: 10px 20px 10px 20px;
      color: #000;
      box-shadow: var(--box-shadow-card);
      border: none;
      display: inline-block;
      background-color: #fff;
      border-radius: var(--official-border-radius);
      margin: 0 12px 0 0;
      vertical-align: middle;
    }
    .scheduleTopNavBar {
      position: absolute;
      top: 0px;
      width: 100%;
      left: 0;
      background-color: #fff;
      height: 120px;
      border-bottom: var(--nav-bar-border);
      overflow: hidden;
    }

    #scheduleContainerMainDiv {
      position: absolute;
      top: 120;
      height: calc(100% - 120px);
      width: 100%;
      left: 0;
    }
    .pageTitle {
      font-size: var(--mobile-font-size-page-title);
      font-weight: var(--mobile-font-weight-bold);
      color: var(--font-color-black);
      margin: 0;
      padding: 0;
      top: 0;
      position: relative;
    }
    #newAppointmentButton {
      background-color: var(--icon-color-active);
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: fixed;
      bottom: 80px;
      right: 20px;
      z-index: 5;
      cursor: pointer;
    }
    #newAppointmentMainDivContainer {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      background-color: #fff;
      z-index: 1000;
      overflow: hidden;
    }
  }

  .agendaFilterTitle {
    color: var(--font-color-grey);
    font-size: var(--mobile-font-size-regular);
    font-weight: var(--mobile-font-weight-medium);
    position: relative;
    left: 20px;
    width: calc(100% - 40px);
    margin: 10px 0 10px 0;
    cursor: context-menu;
  }
  .changeViewButton {
    float: left;
    font-size: var(--mobile-font-size-small);
    top: 0;
    height: 100%;
    width: calc(100% / 2);
    margin: 0;
    background-color: #fff;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: var(--font-color-lightgrey);
    cursor: pointer;
  }

  .changeViewButton.active {
    background-color: var(--cta-accent-color);
    color: #fff;
  }

  .changeViewButtonContainer {
    width: calc(100% - 40px);
    left: 20px;
    position: relative;
    top: 0;
    height: 40px;
    cursor: pointer;
  }
  .changeViewButtonContainer button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .changeViewButtonContainer button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .changeViewButtonContainer button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .dropdownEmployees {
    cursor: pointer;
    position: relative;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 40px;
    border-radius: var(--official-border-radius);
    padding-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--font-color-lightgrey);
    font-size: var(--mobile-font-size-small);
    background-color: #fff;
  }

  #logoImg {
    height: 50px;
    position: absolute;
    top: 20px;
    left: 50%;
  }
  .leftArrowDateRange {
    margin: 0 10 0 0;
  }
  .rightArrowDateRange {
    margin: 0 0 0 10;
  }
  .arrowDateRange {
    height: 100%;
    top: 0;
    position: relative;
    float: left;
    display: inline;
  }
  .arrowDateRange:hover {
    cursor: pointer;
  }
  .dateRangeP {
    float: left;
    position: relative;
    display: inline;
    height: 100%;
    line-height: 30px;
    margin: 0;
    font-size: var(--mobile-font-size-regular);
    font-weight: var(--mobile-font-weight-regular);
    color: var(--font-color-black);
  }

  .monthNameRangeDiv {
    display: inline-block;
    position: relative;
    left: 0px;
    margin: 0;
    font-weight: var(--mobile-font-weight-bold);
    font-size: var(--mobile-font-size-regular);
    color: var(--font-color-black);
  }

  #noEventsMainDiv {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    min-height: 100px;
    margin-top: 30px;
  }
  #noEventsMainDiv p {
    text-align: center;
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 60px;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #noEventsMainDiv a {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }
  #noEventsMainDiv img {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }
  .mainDivsAroundScheduleScreen {
    position: absolute;
    top: 0px;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: #fff;
  }
  #weekViewScheduleMainDiv {
    display: none;
  }
  #listViewScheduleMainDiv {
    display: block;
  }

  #listScheduleTableDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .partDayEventsDiv {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0 0 20 0;
    display: none;
  }
  .allDayEventsDiv {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
    display: none;
  }
  .eventDivListView {
    position: relative;
    width: calc(100% - 40px);
    left: 20px;
    background-color: #f9f9f9;
    border-radius: var(--official-border-radius);
    margin-bottom: 20px;
    height: auto;
    box-shadow: var(--box-shadow-card);
  }
  .storeNameP {
    color: var(--font-color-black);
    font-size: var(--mobile-font-size-regular);
    font-weight: var(--mobile-font-weight-bold);
    margin: 0;
    padding: 20 20 0 20;
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
  }
  .storeNameDiv {
    position: relative;
    left: 0;
    top: 0;
  }
  .dateTimeP {
    color: var(--font-color-grey);
    font-size: var(--font-size-event-small-card-datetime);
    font-weight: var(--font-weight-event-small-card-datetime);
    margin: 0;
    padding: 20 20 0 20;
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
  }
  .dateTimeDiv {
    position: relative;
    left: 0;
    top: 0;
  }
  .newDayMainDiv {
    position: relative;
    width: 100%;
    height: auto;
    left: 0;
    margin-bottom: 10px;
    margin-top: 10;
    top: 0;
  }
  .newDayP {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  .clientNameListViewP {
    color: var(--font-color-black);
    font-size: var(--mobile-font-size-regular);
    font-weight: var(--mobile-font-weight-bold);
    margin: 0;
    width: 100%;
    padding-left: 20;
    padding-right: 20;
    padding-top: 20;
    margin-bottom: 10px;
  }
  .eventHoursListViewP {
    color: var(--font-color-grey);
    font-size: var(--mobile-font-size-small);
    font-weight: var(--mobile-font-weight-regular);
    margin: 0;
    width: 100%;
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 10;
  }
  .serviceScrollMainDiv {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    left: 10;
    width: calc(100% - 20px);
  }
  .servicesAroundDiv {
    display: inline-block;
    text-align: center;
    color: var(--font-color-grey);
    font-size: var(--mobile-font-size-regular);
    font-weight: var(--mobile-font-weight-regular);
    border: none;
    border-radius: var(--official-border-radius);
    margin-bottom: 20;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5 10 5 10;
    background-color: #e1e1e1;
  }
  .activeListViewMainDiv {
    display: block !important;
  }

  .todayButton:hover {
    cursor: pointer;
  }
  .todayStringP::after {
    content: ' today';
    color: var(--font-color-red);
    font-weight: var(--mobile-font-weight-bold);
  }

  .downArrowClosePopup {
    position: absolute;
    left: 20;
    top: 15;
    height: calc(100% - 30px);
    cursor: pointer;
  }

  #newAppointmentWhitePlus {
    position: absolute;
    height: 70%;
    width: 70%;
    left: 15%;
    top: 15%;
  }
</style>

<script type="text/javascript">
    window.addEventListener('DOMContentLoaded', (event) => {
      var mainScreenBody  = document.getElementById('mainScreenBody');












  //filter div
  var employeeServerObj = serverStoreObj.employees;
  var filterMainDiv = document.getElementById('filtersDivFullScreenContainer');


    if(employeeServerObj.length == 0 ){
        //have no employees
        employeeList = null;
        var employeeDropdown = document.createElement('select');
        employeeDropdown.disabled = true;
        employeeDropdown.classList.add('dropdownEmployees');
        employeeDropdown.id ="employeeSelectorDropdown";
        employeeDropdown.innerHTML = "<option value='All'>"+translateWord("Change view")+"</option>";
        document.getElementById('filtersContentContainer').appendChild(employeeDropdown);
    }else{
          //yes have employees
          var employeeDropdown = document.createElement('select');
          employeeDropdown.classList.add('dropdownEmployees');
          employeeDropdown.id ="employeeSelectorDropdown";
          employeeDropdown.innerHTML = "<option value='All'>"+translateWord("All")+"</option>";

          for(var i=0;i<employeeServerObj.length;i++){

            var newOptionDropdown = document.createElement('option');
            newOptionDropdown.value= employeeServerObj[i]._id;
            newOptionDropdown.innerText = employeeServerObj[i].employeeName;
            employeeDropdown.appendChild(newOptionDropdown);

          }
          document.getElementById('filtersContentContainer').appendChild(employeeDropdown);
          $(employeeDropdown).on('change', function() {
                  var employeeValue = getEmployeeDropdownValue();

                if(weekViewBool){
                createWeekViewCalendar(employeeValue);
                // }else if(listViewBool){
                // createListViewCalendar(employeeValue);
                }else if(dayViewBool){
                createDayViewCalendar(employeeValue);
                }
                closeFiltersPopup();
          });
          }
          document.getElementById("weekViewButton").onclick = function(){
            if(!this.classList.contains('active')){
              removeColorInactiveViewButton();

              this.classList.add('active');
              var employeeValue  = getEmployeeDropdownValue();
              weekViewBool = true;
              // listViewBool = false;
              dayViewBool = false;


            //   document.getElementById("weekViewScheduleMainDiv").style.display="block";
            //   document.getElementById("dayViewScheduleMainDiv").style.display="none";
            // document.getElementById("listViewMonthNameContainer").style.display="none";
            // document.getElementById("monthViewButton").style.display="block";
            // document.getElementById("weekDateRangeTable").style.display="table";


            createWeekViewCalendar(employeeValue);

            }
        closeFiltersPopup();
          }


          // document.getElementById("listViewButton").onclick = function(){
          //   if(!this.classList.contains('active')){
          //     removeColorInactiveViewButton();
          //     this.classList.add('active');
          //     var employeeValueFromDropdown = document.getElementById('employeeSelectorDropdown').value;
          //     var employeeValueFromDropdown  = getEmployeeDropdownValue();
          //     weekViewBool = false;
          //     listViewBool = true;
          //     dayViewBool = false;
          //
          //   createListViewCalendar(employeeValueFromDropdown);
          //   }
          //
          // closeFiltersPopup();
          // }



          document.getElementById('dayViewButton').onclick = function(){
            if(!this.classList.contains('active')){
              removeColorInactiveViewButton();
              this.classList.add('active');
              var employeeValueFromDropdown = document.getElementById('employeeSelectorDropdown').value;
              var employeeValueFromDropdown  = getEmployeeDropdownValue();
              weekViewBool = false;
              // listViewBool = false;
              dayViewBool = true;

            createDayViewCalendar(employeeValueFromDropdown);
            }

          closeFiltersPopup();
          }
        function getEmployeeDropdownValue(){
          var employeeValue = document.getElementById('employeeSelectorDropdown').value;
          if(employeeValue == "All"){
            employeeValue = -1;
          }
          return employeeValue;
        }







        if(!noEventsFoud){
          document.getElementById('rightArrowWeekView').onclick = function(){
            dateSelected = new Date(dateSelected.setDate(dateSelected.getDate() + 7));
            createWeekViewCalendar(getEmployeeDropdownValue());

          }
          document.getElementById('leftArrowWeekView').onclick = function(){
            dateSelected = new Date(dateSelected.setDate(dateSelected.getDate() - 7));
            createWeekViewCalendar(getEmployeeDropdownValue());

          }
          document.getElementById('rightArrowDayView').onclick = function(){
            dateSelected = new Date(dateSelected.setDate(dateSelected.getDate() + 1));
            createDayViewCalendar(getEmployeeDropdownValue());

          }
          document.getElementById('leftArrowDayView').onclick = function(){
            dateSelected = new Date(dateSelected.setDate(dateSelected.getDate() - 1));
            createDayViewCalendar(getEmployeeDropdownValue());

          }
          document.getElementById('todayButton').onclick= function(){
            dateSelected = new Date();
            if(weekViewBool){
              createWeekViewCalendar(getEmployeeDropdownValue());
            // }else if(listViewBool){
            //   document.getElementById('listScheduleTableDiv').scrollTop = 0;
            }else if(dayViewBool){
              createDayViewCalendar(getEmployeeDropdownValue());
            }
          }






          document.getElementById('calendarIconImg').onclick = function(){
            createTheCalendarPopup(consoleDate);

            function consoleDate(theDateFromFunction){
              if(weekViewBool){
                dateSelected = new Date(theDateFromFunction);
                createWeekViewCalendar(getEmployeeDropdownValue());

              }else if(dayViewBool){
                dateSelected = new Date(theDateFromFunction);
                createDayViewCalendar(getEmployeeDropdownValue());

              }
              // else if(listViewBool){
              //   scrollToRightDateListView(getEmployeeDropdownValue());
              // }
            }

          };
        }
  });
</script>
<script src="/jsFiles/newAppointmentPopup.js" async></script>
<script src="/jsFiles/appointmentMoreInfoPopup.js" async></script>
<script src="/jsFiles/calendarSelectorPopup.js" async></script>

<link
  rel="stylesheet"
  href="/css/newAppointmentPopup.css"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="/css/calendarSelectorPopup.css"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="/css/appointmentMoreInfoPopup.css"
  media="print"
  onload="this.media='all'"
/>
